@import "../../styles/modules/importAll";

.CheckboxEntityMenu {
    position: fixed;
    bottom: 0rem;
    left: 2rem;
    right: 2rem;
    z-index: 3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4rem;
    background-color: rgba($white, 1);
    box-shadow: 0 0px 10px rgba($black, 0.3);

    .ContextMenu {
        bottom: 3rem;
    }

    .SelectCount {
        color: rgba($black, 0.5);
        margin-left: 20px;
    }

    button {
        @include button(transparent, $anchorLink);

        text-transform: initial;

        &.addToCollection {
            margin-left: 100px;

            em {
                font-weight: bold;
                font-size: 1.1rem;
            }
        }

        &.delete {}
    }
}