@import "../../styles/modules/importAll";

.CheckboxEntityMenu {
  position: fixed;
  bottom: 0rem;
  left: 2rem;
  right: 2rem;
  z-index: 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  border: 1px solid black;
  background-color: white;

  .ContextMenu {
    bottom: 3rem;
  }
  button {
    @include button($darkGrey, white);
  }
}
