@import "../../styles/modules/importAll";

.CheckboxEntityMenu {
    position: fixed;
    bottom: 0rem;
    left: 16rem;
    right: 0rem;
    z-index: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5rem;
    background-color: rgba($white, 1);
    box-shadow: 0 0px 10px rgba($black, 0.3);

    .ContextMenu {
        bottom: 3rem;
    }

    .SelectCount {
        color: rgba($black, 0.8);
        margin-left: 20px;
        margin-right: auto;
    }

    button {
        @include button(transparent, $anchorLink);

        text-transform: initial;

        &.addToCollection {
            margin-left: 100px;
        }

        &.delete {}

        &.deselect {
            border-left: 1px solid $black;
            padding-left: 20px;
            margin-left: 20px;
            border-radius: 0px;
            margin-right: 20px;
        }
    }
}