@import "../../styles/modules/importAll";

.LibraryListing {
    .LibraryListingGroup {
        margin: 1em auto;
        padding: 0.5rem 1.5rem;

        h3 {
            color: $textSecondary;
            margin-top: 1rem;
        }
    }

    .LibraryListingItem {
        display: inline-flex;
        flex-direction: row;
        margin: 1rem 0.25rem;
        position: relative;
        min-height: 5rem;
        padding: 0.5rem 0;
        background-color: rgba($textSecondary, 0);
        border: 1px solid rgba($textSecondary, 0.3);

        /*overflow: hidden;*/
        transition: background-color 0.1s ease;

        h3 {
            color: rgba($black, 0.6);
            margin-top: 1rem;
        }

        &:hover {
            background-color: rgba($textSecondary, 0.6);

            .entityIcon {
                opacity: 1;
            }

            h3 {
                color: $black;
            }
        }

        &.FAILED {
            background-color: $lightErrorRed;

            &:hover {
                background: $lightErrorRed;
            }
        }

        &.PENDING {
            &:hover {
                background-color: transparent;
            }
        }

        .checkboxContainer {
            display: flex;
            width: 2rem;
            padding-left: 1rem;
            justify-content: space-around;
            align-items: center;
            cursor: pointer;
        }

        .entityBody {
            flex: 1;
        }

        .entityIcon {
            position: relative;
            height: 4rem;
            width: 4rem;
            margin-left: 1rem;
            margin-top: 0.25rem;
            display: inline-block;
            color: $white;
            margin-top: 0.25rem;
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
            opacity: 0.7;

            /*             &:before {
                            font-size: 3.5rem;
                            font-family: FontAwesome;
                            left: -5px;
                            position: absolute;
                            top: -6px;
                        } */
        }

        &.visualisation {
            .entityIcon {
                background-image: url("../../styles/img/icon-256-library-listing-visualisation.png");
                &.area {
                    background-image: url("../../styles/img/icon-128-visualisation-area.png");
                }
                &.bar {
                    background-image: url("../../styles/img/icon-128-visualisation-bar.png");
                }
                &.donut {
                    background-image: url("../../styles/img/icon-128-visualisation-donut.png");
                }
                &.line {
                    background-image: url("../../styles/img/icon-128-visualisation-line.png");
                }
                &.map {
                    background-image: url("../../styles/img/icon-128-visualisation-map.png");
                }
                &.pie {
                    background-image: url("../../styles/img/icon-128-visualisation-pie.png");
                }
                &.pivot-table {
                    background-image: url("../../styles/img/icon-128-visualisation-pivot-table.png");
                }
                &.scatter {
                    background-image: url("../../styles/img/icon-128-visualisation-scatter.png");
                }
            }
        }

        &.dashboard {
            .entityIcon {
                // &:before {
                //     content: "\f1ea";
                // }
                background-image: url("../../styles/img/icon-256-library-listing-dashboard.png");
            }
        }

        &.dataset {
            .entityIcon {
                // &:before {
                //     content: "\f1c0";
                // }
                background-image: url("../../styles/img/icon-256-library-listing-dataset.png");
            }
        }

        .textContents {
            display: inline-block;
            padding-left: 1rem;
            vertical-align: top;
            width: calc(100% - 6.5rem);
        }

        .VisualisationTypeLabel {
            p {
                color: $textPrimary;
            }
        }

        .entityName {
            text-transform: capitalize;
        }

        .entityControls {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 1rem;
            opacity: 0;
            transition: opacity 0.3s ease;

            .showControls {
                transform: rotate(90deg);
                font-size: 2.5rem;
                font-weight: bold;
            }
        }

        &:hover .entityControls {
            opacity: 1;
        }

        .pendingOverlay {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.1);
        }
    }

    &.grid {
        .LibraryListingItem {
            width: calc(85% / 3);
            min-width: 15rem;
        }
    }

    &.list {
        .LibraryListingItem {
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .LibraryListingGroup:last-child .LibraryListingItem:last-child {
        margin-bottom: 6rem;
    }

    .noItemsMessage {
        display: block;
        text-align: center;
        padding-top: 4rem;
    }
}