@import "../../styles/modules/importAll";

.LibraryHeader {
    height: 9rem;

    .row {
        width: 100%;
        position: relative;
        padding: 0;
        background: rgba($lightGrey, 0.5);

        > * {
            vertical-align: top;
            display: inline-block;
            padding: 0.5rem 0.5rem;
        }
    }

    .rowPrimary {
        padding-top: 0.5rem;
        height: 5rem;
    }

    .rowSecondary {
        height: 3.5rem;
        border-bottom: 1px solid rgba($lightGrey, 1);
    }

    .LocationIndicator {
        color: $lumenGreen;
        width: 55%;
        height: 100%;
        overflow: hidden;

        .contents {
            padding-right: 1rem;
        }
    }

    .LibraryCreateButton {
        width: 7rem;
        margin-right: 1.5rem;
        position: relative;

        .SelectMenu {
            height: 100%;

            .Select-control {
                @include button($anchorLink, $white);

                color: $white !important;
                text-align: left;

                &:hover {
                    opacity: 0.8;
                }
            }

            .Select-placeholder {
                margin-top: -2px;
            }

            .Select-arrow {
                border-color: $white transparent transparent;
                border-width: 10px 6px 6px;
                margin-top: -2px;
            }

            .Select.is-open {
                .Select-control {
                    background-color: $white;
                }

                .Select-placeholder {}

                .Select-arrow {
                    top: 0px;
                    border-color: $anchorLink transparent transparent;
                }
            }

            .Select-arrow-zone {
                position: absolute;
                top: 1px;
                right: 0;
                padding-top: 10px;
                padding-right: 10px;
            }

            .Select-menu-outer {
                width: 12rem;
                right: 0;
                top: 115%;
                border-color: $white;
                box-shadow: 0rem 0rem 0.25rem rgba(0, 0, 0, 0.15) !important;
                border-radius: 0;
            }

            .Select-option {
                padding: 0.8rem;
                color: $anchorLink;
                box-sizing: border-box;
                border: 0.1rem solid transparent;

                &:hover {
                    color: $anchorLink;
                    border: 1px solid $anchorLink;
                    background-color: inherit;
                }
            }
        }
    }

    .LibrarySearch {
        width: calc(45% - 8.5rem);
        height: 3.5rem;
        position: relative;
        text-align: right;

        input {
            width: calc(100% - 6rem);
            padding: 0.25rem 0.75rem;
            vertical-align: top;
        }

        .clear {
            position: absolute;
            color: $black;
            line-height: 1.5rem;
            margin-left: -2rem;
            padding: 0.5rem;
            transition: opacity 0.2s ease;
        }

        .submit {
            @include btnOutline($anchorLink, $anchorLink);

            border-left: none;
            max-width: 6rem;
        }
    }

    .LibraryTabList {
        width: 64%;
        padding-bottom: 0;
        height: 100%;

        ul {
            height: 100%;

            li {
                height: 100%;
                display: inline-block;
                padding: 0.75rem 1.5rem;
                text-align: center;
                transition: background-color 0.5s ease;
                color: rgba($black, 0.7);

                &:hover {
                    color: rgba($black, 1);
                }

                &.selected {
                    color: rgba($black, 1);
                    border-bottom: 4px solid rgba($black, 1);
                    margin-top: 2px;
                    position: relative;
                }
            }
        }

        @media (max-width: 1200px) {
            width: 50%;

            ul li {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }
    }

    .LibraryDisplayMenu {
        width: 36%;
        position: relative;
        padding-top: 13px;
        height: 100%;

        @media (max-width: 1200px) {
            width: 50%;
        }

        .sortOrderLabel {
            color: rgba(black, 0.3);
            line-height: 2.5rem;
            width: 4rem;
            display: inline-block;
        }

        .SelectMenu {
            width: 8rem;
            margin-right: calc(100% - 18rem);
            height: 2rem;
            display: inline-block;
            vertical-align: top;
            margin-top: 3px;

            .Select-control {
                border: 0;
                border-radius: 3px;

                .Select-multi-value-wrapper {
                    .Select-value {
                        top: -5px;
                        margin-right: 5px;

                        .Select-value-label {
                            font-size: 0.85rem;
                        }
                    }
                }
            }

            .Select-placeholder {
                color: $black;
                text-align: right;
                padding-right: 1.75rem;
                padding-left: 0;
            }

            .Select-arrow-zone {
                padding-left: 25px;

                .Select-arrow {
                    border-color: $anchorLink transparent transparent;
                }
            }

            .Select-menu-outer {
                width: 10rem;
                right: 0;
                top: 115%;
                border-color: $black;
                box-shadow: 0rem 0rem 0.25rem rgba(0, 0, 0, 0.15) !important;
                border-radius: 0;
            }

            .Select-option {
                padding: 0.8rem;
                color: $black;
                box-sizing: border-box;
                border: 0.1rem solid transparent;

                &:hover {
                    color: $akvoPurple;
                    border: 0.1rem solid $akvoPurple;
                    background-color: inherit;
                }
            }
        }

        .displayControls {
            display: inline-block;
            width: 6rem;
            height: 2.5rem;
            position: relative;
            vertical-align: top;
            text-align: right;

            .control {
                display: inline-block;
                width: 2rem;
                height: 2rem;
                font-size: 1.7rem;
            }

            .displayGrid {}

            .displayList {
                margin-left: 1rem;
            }
        }
    }
}