@import "../../styles/modules/importAll";

.LibraryHeader {
    height: 9rem;
    display: flex;
    flex-direction: column;

    .row {
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
    }

    .rowPrimary {
        flex: 5;
        padding: 0 1rem;
        background: rgba($lightGrey, 0.5);
        border-bottom: 1px solid $lightGrey;
    }

    .rowSecondary {
        flex: 3;
        border-bottom: 1px solid rgba($lightGrey, 1);
    }

    .LocationIndicator {
        flex: 2;
        display: flex;
        align-items: center;
        overflow: hidden;

        .location {
            color: $lumenGreen;
        }
    }

    .LibraryCreateButton {
        display: flex;
        flex: 3;
        max-width: 340px;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 1rem;

        button {
            flex: 1;
            text-align: center;
            @media (min-width: 1100px) {
                margin-right: 10px;
            }
        }
    }

    .LibrarySearch {
        display: flex;
        flex: 3;
        justify-content: space-around;

        input {
            flex: 1;
            padding: 0.25rem 0.75rem;
            color: $darkGrey;
        }

        .clear {
            color: $black;
            line-height: 1.5rem;
            margin-left: -2rem;
            padding: 0.5rem;
            transition: opacity 0.2s ease;
        }

        .submit {
            @include btnOutline($anchorLink, $anchorLink);

            width: 6rem;
            margin-left: 1rem;
        }
    }

    .LibraryTabList {
        width: 64%;
        padding-bottom: 0;
        height: 100%;

        ul {
            height: 100%;

            li {
                height: 100%;
                display: inline-block;
                padding: 0.75rem 1.5rem;
                text-align: center;
                transition: background-color 0.5s ease;
                color: rgba($black, 0.7);

                &:hover {
                    color: rgba($black, 1);
                }

                &.selected {
                    color: rgba($black, 1);
                    border-bottom: 4px solid rgba($black, 1);
                    margin-top: 2px;
                    position: relative;
                }
            }
        }
    }
}