@import "../../../styles/modules/importAll";

.ConfigMenuSection {
  background: white;
  border: 1px solid $lightGrey;
  @include border-radius(6px);
  margin-bottom: 15px;
  padding: 15px 0 0 15px;

  h3 {
    font-size: 1.1em;
    font-weight: 600;
  }
 
  .ConfigMenuSection-inner {
    padding: 15px 0;

    &--without-title {
      padding: 0;
    }
  }

  .ConfigMenuSection-advanced-seperator {
    color: $anchorLinkLight;
    text-align: center;
    text-transform: capitalize;
    display: block;
    padding: 15px 0;

    &:before {
      content: ' ';
      display: block;
      height: 1px;
      width: 100%;
      top: 10px;
      background: $lightBlueGrey;
      position: relative;
    }

    span {
      background: white;
      padding: 0 10px;
      display: inline-block;
      position: relative;
    }
  }

  .InputGroup {
    padding: 1.5rem 0;
    border-bottom: 1px solid $lightGrey;

    &:last-child {
      border: none;
    }
  }
}