@import "../../../styles/modules/importAll";

.LayerMenu {

    ul,
    ol {
        list-style: none;
    }

    .titleContainer {
        display: flex;
        flex: 3;
        align-items: center;

        h3 {
            height: 2.4rem;
            line-height: 1.4rem;
            padding: 0.5rem 0;
        }
    }

    .buttonContainer {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;

        button {
            height: 2.4rem;
            line-height: 1.4em;
            padding: 0.5rem 1rem;
        }
    }
}