@import "../../../styles/modules/importAll";

.MapConfigMenu {
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    position: relative;

    .contents {
        overflow: auto;
        flex: 1;
    }

    .saveContainer {
        display: flex;
        height: 4rem;
        width: 100%;
        justify-content: space-around;
        align-items: 'center';
        border-top: 1px solid $lightBlueGrey;

        .saveButton {
            bottom: 1rem;
            display: block;
            padding: 0.6rem 1.2rem;
            margin: 0.75rem auto;
            text-transform: uppercase;
            font-size: 0.9rem;
            color: $lumenGreen;
            border: 0.1rem solid $lumenGreen;

            @include border-radius(3px);
        }
    }

    .drawer {
        padding: 1rem;
    }
}