@import "../../../styles/modules/importAll";

.PieConfigMenu {
    .showLegend,
    .showLabels {
        display: block;
        margin-bottom: 1rem;

        h4 {
            color: #9596b8;
        }
    }
}