@import "../../../styles/modules/importAll";

.ToggleInput {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .label {
        line-height: 1.6rem;
        flex: 1;
        padding-right: 0.5rem;
    }

    .toggle {
        display: flex;
        position: relative;
        flex-direction: row;
        height: 1.6rem;
        width: 3rem;
        background-color: $midGrey;
        border-radius: 3px;
        transition: background-color 0.25s ease-out;

        &.active {
            background-color: $black;
        }
    }

    .indicator {
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 0.6rem;
        background-color: white;
        display: block;
        position: absolute;
        left: 0.2rem;
        top: 0.2rem;
        top: calc(50% - 0.6rem);
        transition: left 0.1s ease-out;
    }

    .toggle.active .indicator {
        left: 1.6rem;
    }
}