{:components
 {:emailer #var akvo.lumen.component.emailer/dev-emailer}
 :config
 {:app
  {:middleware
   {:functions {:stacktrace #var ring.middleware.stacktrace/wrap-stacktrace}
    :applied   ^:replace [:not-found :json-response :ring-defaults :json-body
                          :wrap-auth :wrap-jwt :wrap-label-tenant :stacktrace]
    :arguments {:wrap-jwt {:keycloak-url "http://localhost:8080/auth"
                           :keycloak-realm "akvo"}}}}
  :db {:uri "jdbc:postgresql://localhost/lumen?user=lumen&password=password"}
  :http {:port 3000}
  :config {:file-upload-path "/tmp/akvo/lumen"
           :keycloak-realm "akvo"
           :keycloak-url "http://localhost:8080/auth"
           :keycloak-public-client-id "akvo-lumen"
           :flow-api-url "https://api.akvotest.org/flow"
           :invite-redirect {:client-port 3030
                             :scheme :http}}
  :emailer {:from-email "devops@akvo.localhost"
            :from-name "Akvo Lumen"}
  :keycloak {:url "http://localhost:8080/auth"
             :realm "akvo"
             :credentials
             {"client_id" "akvo-lumen-confidential"
              "client_secret" "caed3964-09dd-4752-b0bb-22c8e8ffd631"}}}}
