{:duct.core/environment                                 :development
 :duct.core/include                                     ["akvo/lumen/config.edn"]
 :akvo.lumen.component.error-tracker/local              {}
 :akvo.lumen.component.emailer/dev-emailer              {:config #ig/ref :akvo.lumen.config}
 :akvo.lumen.middleware.ring.stacktrace/wrap-stacktrace {}
 :akvo.lumen.component.caddisfly/local                  {:config #ig/ref :akvo.lumen.config}
 :akvo.lumen.config
 {:app
  {:middleware
   {:functions {:stacktrace #ig/ref :akvo.lumen.middleware.ring.stacktrace/wrap-stacktrace}
    :applied   ^:replace [:not-found :json-response :ring-defaults :json-body
                          :wrap-auth :wrap-jwt :wrap-label-tenant :stacktrace :lumen-monitoring]
    :arguments {:wrap-jwt {:keycloak-url   "http://auth.lumen.local:8080/auth"
                           :keycloak-realm "akvo"}}}}
  :db {:uri "jdbc:postgresql://postgres/lumen?user=lumen&password=password&ssl=true"}
  :caddisfly {:local-schema-uri "./caddisfly/tests-schema.json"}
  :http {:port 3000}
  :config {:encryption-key "secret"
           :file-upload-path "/tmp/akvo/lumen"
           :keycloak-realm "akvo"
           :keycloak-url "http://auth.lumen.local:8080/auth"
           :keycloak-public-client-id "akvo-lumen"
           :flow-api-url "https://api.akvotest.org/flow"
           :invite-redirect {:client-port 3030
                             :scheme :http}
           :sentry-backend-dsn ""
           :sentry-client-dsn ""
           :windshaft-url "http://windshaft:4000"
           :exporter-api-url "http://exporter:3001"
           :piwik-site-id "165"}
  :emailer {:from-email "devops@akvo.localhost"
            :from-name "Akvo Lumen"}
  :error-tracker {:dsn ""}
  :keycloak      {:url   "http://auth.lumen.local:8080/auth"
                  :realm "akvo"
                  :credentials
                  {"client_id"     "akvo-lumen-confidential"
                   "client_secret" "caed3964-09dd-4752-b0bb-22c8e8ffd631"}}}
 }
