{:config
 {:app
  {:middleware
   {:functions {:stacktrace #var ring.middleware.stacktrace/wrap-stacktrace}
    :applied   ^:replace [:not-found :json-response :ring-defaults :json-body
                          :wrap-auth :wrap-jwt :wrap-label-tenant :stacktrace]
    :arguments {:wrap-jwt {:keycloak-url "http://localhost:8080/auth"
                           :keycloak-realm "akvo"}}}}
  :db {:uri "jdbc:postgresql://localhost/lumen?user=lumen&password=password"}
  :http {:port 3000}
  :config {:file-upload-path "/tmp/akvo/lumen"
           :flow-report-database-url ""
           :keycloak-realm "akvo"
           :keycloak-url "http://localhost:8080/auth"}}}
