{
 :akvo.lumen.component.tenant-manager/data {:encryption-key "secret"}
 :akvo.lumen.component.keycloak/public-client {:url "http://auth.lumen.local:8080/auth"}
 :akvo.lumen.component.keycloak/authorization-service {:credentials {:client_secret "caed3964-09dd-4752-b0bb-22c8e8ffd631"}}
 :akvo.lumen.admin/add-tenant {:drop-if-exists? true}
 }

