{:tenant-manager
 {:db_uri "jdbc:postgresql://postgres/lumen?user=lumen&password=password"
  :tenants
  [{:db_uri "jdbc:postgresql://postgres/lumen_tenant_1?user=lumen&password=password"
    :label "t1"
    :title "Tenant 1"
    :plan "standard"}
   {:db_uri "jdbc:postgresql://postgres/lumen_tenant_2?user=lumen&password=password"
    :label "t2"
    :title "Tenant 2"
    :plan "pro"}]}}
