{:tenant-manager
 {:tenants
  [{:db_uri "jdbc:postgresql://localhost/lumen_tenant_1?user=lumen&password=password"
    :label "t1"
    :title "Tenant 1"}
   {:db_uri "jdbc:postgresql://localhost/lumen_tenant_2?user=lumen&password=password"
    :label "t2"
    :title "Tenant 2"}]}}
