# Dashboard
node_modules
secrets.js
bundle.js
npm-debug.log
.DS_Store
client/dist
client/yarn.lock
notify.slack.sh

# postgres local db folder
db/*.sql

# docker-compose
.env

# Backend
backend/target
backend/classes
backend/checkouts
backend/pom.xml
backend/pom.xml.asc
backend/*.jar
backend/*.class
backend/.lein-*
backend/.nrepl-*
backend/profiles.clj
backend/dev/resources/local.edn
backend/dev/src/local.clj

# CI
ci/dev/deployment.yaml
ci/prod/deployment.yaml
ci/flipped.service.yaml

# E2E tests
client/e2e-test/cypress/plugins
# client/e2e-test/cypress/support

# From https://github.com/github/gitignore

# Python
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Leiningen

etl/pom.xml
etl/pom.xml.asc
*jar
etl/lib/
etl/classes/
etl/target/
etl/checkouts/
etl/.lein-deps-sum
etl/.lein-repl-history
etl/.lein-plugins/
etl/.lein-failures
etl/.nrepl-port


# OS X
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# Linux
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*


# Windows
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# Emacs
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/


# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# IntelliJ IDE
*.iml
.idea

# Temporal deployment files
/deployment.yaml
/service.yaml
/flipped.service.yaml
/ci/helpers/flip.record.yaml

# ORG-ROAM
backend/roam

# ZULIP
notify.team.sh