version: "3"
services:
 postgres:
   ports:
    - "5432:5432"
 keycloak:
   ports:
    - "8080:8080"
 backend:
   image: akvo/akvo-lumen-backend-dev:20191001.144150.7c1e95e
   volumes:
      - ./backend:/app
      - ~/.m2:/home/akvo/.m2
      - ~/.lein:/home/akvo/.lein
      - ~/.m2:/root/.m2:delegated
      - ~/.lein:/root/.lein:delegated
   ports:
      - "47480:47480"
      - "3000:3000"
   command: ["./import-and-run.sh"]
 client:
   volumes:
      - ./client:/lumen
   ports:
      - "3030:3030"
 windshaft:
   build: windshaft
   environment:
     - NODE_ENV=development
   volumes:
      - ./windshaft/config/dev:/config
 exporter:
   ports:
      - "3001:3001"
   links:
      - keycloak:auth.lumen.local
      - client:t1.lumen.local
