;; Local profile overrides

{:profiles/dev
 {:env
  {:database-url
   "jdbc:postgresql://localhost/dash?user=dash&password=password"}}
 :profiles/test
 {:env
  {:database-url
   "jdbc:postgresql://localhost/test_dash?user=dash&password=password"}}}
