#kaocha/v1
{:tests
 [{:id :all
   :source-paths ["src"]
   :test-paths ["test"]}
  {:id :unit
   :focus-meta [:unit]
   :source-paths ["src"]
   :test-paths ["test"]}
  {:id :functional
   :focus-meta [:functional]
   :source-paths ["src"]
   :test-paths ["test"]}]}
