@import "../../styles/modules/importAll";

.DashboardEditor {
    position: relative;
    display: flex;
    margin-top: 4rem;
    width: 100%;

    .DashboardVisualisationList, .DashboardEditorCanvasContainer {
        height: calc(100vh - 4rem);
        overflow: auto;
    }

    .DashboardVisualisationList {
        width: 20rem;
    }

    .DashboardEditorCanvasContainer {
        flex: 1;
    }

    .blankDashboardHelpText {
        text-align: center;
        padding: 6rem 1rem;
        line-height: 1.4em;
        color: $midGrey;
    }

    .react-grid-layout {
        background-color: whitesmoke;
    }

    .react-resizable-handle {
        z-index: 99;
    }

    .DashboardEditorCanvasControls {
        padding: 1rem 1rem 0 1rem;

        button {
            padding: 0.5rem 1rem;
            color: $lumenGreen;
            background-color: $white;
            border: 0.1rem solid $lumenGreen;
            line-height: 1.4rem;

            @include border-radius(3px);

            margin-right: 1rem;
        }

        button.save {
            margin-right: 0;
            background-color: $lumenGreen;
            color: white;
            border: none;
        }
    }

    .DashboardNameInputContainer {
        padding: 1rem 1rem 0 1rem;

        input {
            display: block;
            margin: 0 auto;
            width: 80%;
            max-width: 40rem;
            border: 0.1rem solid $lightGrey;
            background-color: inherit;
            padding: 0.5rem;
            text-align: center;
        }

        &.error input {
            box-shadow: 0 0 0.1rem 0.25rem $errorRed;
        }
    }
}