@import "../../styles/modules/importAll";

.DashboardVisualisationList {
    border-right: 0.1rem solid $lightGrey;

    .list, .noVisualisationsMessage {
        padding: 1rem;
    }

    .filterInput {
        padding: 1rem;
        border-bottom: 0.1rem solid $lightGrey;

        label, input {
            display: block;
            margin: 0.5rem 0;
            width: 100%;
        }

        input {
            padding: 0.5rem;
        }
    }

    .filterHelpText {
        padding: 1rem;
        text-align: center;

        .buttonContainer {
            margin-top: 1rem;
        }

        button {
            padding: 0.25rem 0.5rem;
            border: 0.1rem solid black;

            @include border-radius(3px);
        }
    }

    .listItem {
        margin: 1rem 0;
        padding: 5px 0 5px 5px;
        width: 100%;
        border: 1px solid rgba($black, 0.3);
        position: relative;
        overflow-y: auto;

        &::after {}

        &.added {
            border: 1px solid rgba($black, 0.05);
            background-color: rgba($black, 0.05);
        }
    }

    h4 {
        margin-bottom: 5px;
    }

    .visualisationType {
        display: inline;
    }

    .lastModified {
        display: inline;
        margin-left: 10px;
    }

    .visualisationType, .lastModified {
        color: $midGrey;
    }

    .isOnDashboardIndicator {
        padding: 0.5rem;
        position: absolute;
        top: 0;
        right: 0;
    }
}