@import "../../styles/modules/importAll";

.DashboardCanvasItem {
  position: relative;
  overflow: hidden;
  vertical-align: top;
  background-color: white;
  color: $dashboardFG;
  @include border-radius(8px);

  .title {
      display: none;
  }

  &.text {
    overflow-y: auto;
    color: $dashboardFG;
    height: auto !important;

    ol,
    ul {
      margin-left: 20px;
    }

    a {
      color: $lumenGreen;
    }

    strong {
      font-weight: 700;
    }
  }

  .itemContainer {
    &.text {
      line-height: 1.4rem;
      white-space: pre-wrap;
      word-break: break-word;
      color: $dashboardFG;
    }
  }

  .itemTitle {
      padding-bottom: 15px;

      h2 {
          color: $dashboardFG;
          font-weight: 600;
          font-size: 1.3em;
      }
      span {
          color: $dashboardFGSecondary;
          font-size: 0.9em;
      }
  }
}
