@import "../../styles/modules/importAll";

.DeriveCategoryTransformation {
  .DeriveCategoryTransformation__container {
    margin-top: 4em;
    padding: 1em;
    width: 100%;
  }

  h2 {
    padding-bottom: 15px;
  }
}
