@import "../../styles/modules/importAll";

.Dashboard2EditorSidebar {
  background-color: mintcream;

  .Dashboard2SidebarTabMenu {

    padding: 1rem 0;
    
    button {
      cursor: pointer;
    } 
  
    .tabItem {
      display: inline-block;
      margin-left: calc(19% / 6);
      margin-right: calc(19% / 6);
      text-align: center;
      padding: 0.75rem 0.75rem;
      color: $midGrey;
      border-bottom: 0.3rem solid $lightGrey;
      transition: color 0.3s, border 0.3s;
      transition-timing-function: ease;

      &.selected {
          color: $lumenGreen;
          border-color: $lumenGreen;
      }
      
      &:hover {
        color: #000;
        border-color: $lumenGreen;
      }

      &.action {
        border-color: mintcream;
        width: 20%;

        &:hover {
          color: #000;
          border-color: mintcream;
        }
      }

    }

    // .selected {
    //   color: #000;
    //   border-bottom-color: #000;
    // } 

    // :hover {
    //   color: #F0F;
    // }

  } 
}