.Main {
    display: flex;
    min-height: calc(100vh);
    background-color: white;
    &.blur {
        background: white;
    }
    .failedToLoadMessage {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(155, 155, 155, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
        .message {
            background: white;
            text-align: center;
            width: 100%;
            height: 100%;
            .msgContainer {
                position: absolute;
                max-height: calc(100vh - 40px);
                width: 25%;
                min-height: auto;
                height: auto;
                top: 50%;
                left: 50%;
                padding: 20px 0;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                box-shadow: 0 0 20px rgba(32, 32, 36, 0.2);
                img {
                    position: relative;
                    display: block;
                    width: 25%;
                    margin: 0 auto 1em auto;
                    max-width: 280px;
                    min-width: 150px;
                }
                #urlLoc {
                    font-weight: normal;
                }
                button {
                  text-decoration: underline;
                  cursor: pointer;
                }
            }
        }
    }
    .WorkspaceNav.collapsed.noFloat + .Library {
        margin-left: 4rem;
    }
}