@import "../../../styles/modules/importAll";

.SourceReverseGeocodeOptions {
  flex: 1;
  padding-left: 3em;
  padding-right: 3em;
  h1 {
    font-size: 1.2em;
  }
  p {
    border: 1px solid rgba($black, 0.5);
    padding: 0.6em;
  }
}
