@import "../../styles/modules/importAll";

.LumenBranding {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.4);
    pointer-events: none;
    z-index: 2;

    .logoColor {
        color: $lumenGreen;
    }
}