@import "../../styles/modules/importAll";

.Popover {
  @import "~bootstrap/scss/_functions.scss";
  @import "~bootstrap/scss/_variables.scss";
  @import "~bootstrap/scss/_mixins.scss";
  @import "~bootstrap/scss/_popover.scss";

  .popover {
    .popover-header {
      font-family: $bodyFont;
      font-size: 14px;
    }
    &.bs-popover-left,
    &.bs-popover-right {
      .arrow {
        top: 50%;
        margin-top: -7px;
      }
    }
    &.bs-popover-top,
    &.bs-popover-bottom {
      .arrow {
        left: 50%;
        margin-left: -7px;
      }
    }
    &.popover-top-left,
    &.popover-bottom-left {
      .arrow {
        left: auto;
        right: 0%;
      }
    }
    &.popover-bottom-right {
      .popover-header {
        &:before {
          left: 14px;
        }
      }
    }
    &.popover-top-right,
    &.popover-bottom-right {
      .arrow {
        left: 14px;
      }
    }
  }
}

