@import "../../styles/modules/importAll";

.ProgressBar {
    position: relative;
    width: 100%;

    .textContent {
        display: none;
    }

    .errorText, .completionText {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        line-height: 125%;
    }

    .errorText {
        color: $errorRed;
    }

    .completionText {
        color: $white;
    }

    .progressBar {
        height: 1.25rem;
        width: 100%;
        position: relative;

        @include border-radius(3px);

        border: 0.1rem solid $lumenGreen;
        overflow: hidden;
        transition: border-color 0.5s;

        &.error {
            border-color: $errorRed;
        }
    }

    .progressIndicator {
        background-color: $lumenGreen;
        display: block;
        height: 1.25rem;
        transition: width 0.5s;
    }
}