@import "../../styles/modules/importAll";

.ScrollBar {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;

  &-content {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 4px;
    
    &-inner {
      overflow: auto;
      padding-bottom: 15px;
      &::-webkit-scrollbar {
          -webkit-appearance: none;
      }

      &::-webkit-scrollbar:vertical {
          width: 11px;
          display: none;
      }

      &::-webkit-scrollbar:horizontal {
          height: 11px;
      }

      &::-webkit-scrollbar-thumb {
          border-radius: 8px;
          border: 2px solid white; /* should match background, can't be transparent */
          background-color: #7C7C7C;
          z-index:9999;
      }
    }
  }

  &-track {
    width: 100% !important;
    height: 2px;
    background: transparent;
    position: absolute;
    left: 0;
    bottom: 6px;         
  }

  &-handle {
    position: absolute;
    height: 2px;
    background: #7C7C7C;
    z-index:9998;    
    width: 70% !important;
    margin-left: 5px;
  }
}



