@import "../../styles/modules/importAll";

.ScrollBar {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;

  &-content {
    width: 100%;
    padding-bottom: 4px;
    margin-bottom: 4px;
    
    &-inner {
      overflow-x: auto;
    }
  }

  &-track {
    width: 100%;
    height: 2px;
    background: $lightGrey;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &-handle {
    position: absolute;
    height: 2px;
    background: $anchorLinkLight;
  }
}
