@import "../../styles/modules/importAll";

.ScrollBar {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 10px;

  &-content {
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 4px;
    
    &-inner {
      overflow: auto;
      padding-bottom: 15px;
      &::-webkit-scrollbar {
          -webkit-appearance: none;
      }

      &::-webkit-scrollbar:vertical {
          width: 11px;
          display: none;
      }

      &::-webkit-scrollbar:horizontal {
          height: 11px;
      }

      &::-webkit-scrollbar-thumb {
          border-radius: 8px;
          border: 2px solid white; /* should match background, can't be transparent */
          background-color: rgba(0, 0, 0, .5);
      }
    }
  }

  &-track {
    width: 100%;
    height: 2px;
    background: $lightGrey;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
  }

  &-handle {
    position: absolute;
    height: 2px;
    background: $anchorLinkLight;
  }
}



