@import "../../styles/modules/importAll";

.SelectMenu {
    * {
        box-shadow: none !important;
        border-radius: 0;
        color: $black !important;
    }

    &.disabled {
        .Select-control {
            cursor: not-allowed;
        }
    }

    .Select, .Select-control, .Select-input {
        height: 100%;
    }
    .css-18ng2q5-group {
        background-color: #e5e6ed;
        font-size: 1em;
        padding: 10px;
        font-weight: normal;
    }
    .css-26l3qy-menu {
        border: 1px solid #e5e6ed;
        border-top: 0px;
    }
    .is-open {
        .combobox {
            border: 1px solid $black;
        }
        
    }
    .is-disabled {
        .Select-control {
            border: 1px solid rgba($black, 0.2);
            color: rgba($black, 0.2) !important;
        }

        .Select-placeholder {
            color: rgba($black, 0.2) !important;
        }
    }

    .is-focused {
        .Select-control, .combobox {
            border: 1px solid $black;
        }
    }

    .Select-control {
        border: 1px solid rgba($black, 0.45);
        transition: background-color 0.3s ease;

        &:focus {
            border: 1px solid $black;
        }
    }

    .Select-placeholder {
        color: $black !important;
        transition: color 0.3s ease;
    }

    .Select-arrow {
        transition: border 0.3s ease;
    }

    .Select-option {
        transition: color 0.3s, border 0.3s;
        transition-timing-function: ease;
        border-radius: 0;
    }

    .Select-menu-outer, .Select-menu {
    }
}
