@import "../../../styles/modules/importAll";

html, body, #root {
    min-width: initial !important;
}

.DashboardViewer {
    display: flex;
    height: 100%;
    background-color: $dashboardBG;
    flex-direction: column;
    overflow: hidden;
    font-size: 1em;

    .DashboaredViewerTitle {
        line-height: 1.4em;
        padding: 0.5em;
        width: 95%;
        max-width: 50rem;
        margin: 0.5em auto;
        display: block;
        text-align: center;
        font-size: 2em;
        font-weight: 600;

        @mixin responsive($medium-max-screens) {
            font-size: 1.6rem;
        }

        @mixin responsive($small-max-screens) {
            font-size: 1.4rem;
        }
    }
    .dashboardEntities {
        padding-bottom: 100px;
    }
    @mixin responsive($small-max-screens) {
        overflow: visible;
    }

    h1 {
        font-size: 2em;
    }

    h1,
    h2,
    h3 {
        font-weight: 700;
    }
}
