{:akvo.lumen.component.tenant-manager/data {:encryption-key #duct/env "LUMEN_ENCRYPTION_KEY"}
 :akvo.lumen.component.keycloak/public-client {:url #duct/env "LUMEN_KEYCLOAK_URL"}
 :akvo.lumen.component.keycloak/authorization-service {:credentials
                                                       {:client_secret #duct/env "LUMEN_KEYCLOAK_CLIENT_SECRET"}}
 :akvo.lumen.component.emailer/mailjet-v3-emailer {:email-password #duct/env "LUMEN_EMAIL_PASSWORD"
                                                   :email-user #duct/env "LUMEN_EMAIL_USER"}
 :akvo.lumen.admin.db/config {:root {:password #duct/env "PG_PASSWORD" 
                                     :database #duct/env "PG_DATABASE"
                                     :user #duct/env "PG_USER" 
                                     :host #duct/env "PG_HOST"}
                              :lumen {:password #duct/env "PG_PASSWORD"}}}
