@import '../../styles/modules/importAll.scss';

.BubbleLegend {
  position: relative;
  margin-bottom: 20px;
  
  p {
    line-height: 0.9em;
    font-size: 10px;
  }
  
  .BubbleLegend__bubbles {
    height: 120px;
    width: 120px;
  }

  .BubbleLegend__bubble {
    border: 1px dashed black;
    @include border-radius(50%);
    position: absolute;
    bottom: 0;

    &--lg {
      width: 120px;
      height: 120px;
      margin-left: 0px;
    }

    &--md {
      width: 60px;
      height: 60px;
      margin-left: 30px;
    }

    &--sm {
      width: 30px;
      height: 30px;
      margin-left: 45px;
    }
  }

  .BubbleLegend__title {
    text-align: center;
    position: absolute;
    top: 20px;
    width: 100px;
    left: 10px;
  }
}