@import '../../styles/modules/importAll.scss';

.BubbleLegend {
  width: 100%;
  height: 160px;
  position: relative;
  margin-bottom: 30px;

  .BubbleLegend__bubble {
    border: 1px dashed black;
    @include border-radius(50%);
    position: absolute;
    left: 50%;
    bottom: 0;

    &--lg {
      width: 160px;
      height: 160px;
      margin-left: -80px;
    }

    &--md {
      width: 80px;
      height: 80px;
      margin-left: -40px;
    }

    &--sm {
      width: 40px;
      height: 40px;
      margin-left: -20px;
    }
  }

  .BubbleLegend__title {
    text-align: center;
    position: absolute;
    top: 50px;
    width: 100%;
  }
}