@import "../../styles/modules/importAll";

.Chart {
    display: flex;
    flex-direction: column;
    
    h2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 8px;

        span {
            text-align: center;
        }
    }

    .chartMeta {
        text-align: center;
        color: #aaa;
    }
}