@import "../../styles/modules/importAll";

.MapVisualisation {
    position: relative;

    .leaflet-container {
        width: 100%;
        height: 30rem;
    }

    h2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 8px;

        span {
            text-align: center;
        }
    }

    .legend {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        line-height: 1.4em;
        z-index: 1000;
        overflow-y: auto;

        h4 {
            line-height: 1.4em;
            margin: 0.5rem 1rem;
        }

        ul {
            padding: 0.5rem 1rem;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .legendEntry {
            display: flex;
            align-items: flex-start;
            flex: 1;
            overflow: hidden;
            margin: 0 0.5rem 0 0;
            min-width: 1.8rem;

            span {
                flex-shrink: 1;
            }

            .colorIndicator {
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 10rem;
                display: flex;
                flex-shrink: 0;
                margin-top: 0.35rem;
            }

            .colorLabel {
                margin-left: 0.5rem;
            }
        }
    }

    .legend.left, .legend.right {
        height: 10rem;

        .legendEntry {
            margin: 0 0 0.5rem 0;
        }
    }

    .legend.top, .legend.bottom {
        width: 60%;
        right: 20%;
        left: 20%;
        height: 6rem;

        ul {
            flex-direction: row;
        }

        .legendEntry {
            height: 3rem;
        }
    }

    .legend.top {
        top: 3rem;
    }

    .legend.right {
        right: 1rem;
        bottom: 1rem;
    }

    .legend.bottom {
        bottom: 1rem;
    }

    .legend.left {
        left: 1rem;
        bottom: 1rem;
    }

    .popupContainer, .PopupContent {
        position: relative;
        min-width: 12rem;
    }

    .popupItem, .PopupContent  {
        margin-bottom: 0.5rem;

        h4 {}

        .imageContainer {
            width: 100%;
            min-height: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            img {
                width: 100%;
                image-orientation: from-image;
            }
        }
    }
    .mapContainer {
        position: relative;
    }
    .Legend {
        padding: 0.5rem 1rem;
        z-index: 999;
        position: absolute;
        bottom: 1rem;
        display: flex;
        width: 80%;
        margin: 0 10%;
        height: 6rem;
        background-color: rgba(255, 255, 255, 0.8);
        flex-direction: column;

        ul {
            flex: 1;
            display: flex;
            height: 6rem;
            overflow-x: auto;

            li {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: flex-start;
                min-width: 2.5rem;
                font-size: 0.9rem;
                margin-right: 0.5rem;

                &:last-child {
                    margin-right: 0;
                }

                .colorMarker {
                    display: block;
                    height: 1rem;
                    width: 1rem;
                    border-radius: 0.5rem;
                }

                p {
                    margin-left: 0.5rem;
                }
            }
        }
        .italic {
            font-style: italic;
        }
    }
    .LoadingSpinner {
        z-index: 999;
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
    }
    .failedIndicator {
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.1);

        &:after {
            position: absolute;
            height: 2rem;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            content: '✖';
            left: calc(50% - 1rem);
            top: calc(50% - 1rem);
            color: rgba(0,0,0,0.2);
            font-size: 2rem;
        }
    }
}
