@import "../../styles/modules/importAll";

.MapVisualisation {
    position: relative;

    .leaflet-container {
        width: 100%;
        height: 30rem;
    }

    h2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 8px;

        span {
            text-align: center;
        }
    }

    .legend {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        line-height: 1.4em;
        z-index: 1000;
        overflow-y: auto;

        h4 {
            line-height: 1.4em;
            margin: 0.5rem 1rem;
        }

        ul {
            padding: 0.5rem 1rem;
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .legendEntry {
            display: flex;
            align-items: flex-start;
            flex: 1;
            overflow: hidden;
            margin: 0 0.5rem 0 0;
            min-width: 1.8rem;

            span {
                flex-shrink: 1;
            }

            .colorIndicator {
                width: 0.5rem;
                height: 0.5rem;
                border-radius: 10rem;
                display: flex;
                flex-shrink: 0;
                margin-top: 0.35rem;
            }

            .colorLabel {
                margin-left: 0.5rem;
            }
        }
    }

    .legend.left, .legend.right {
        height: 10rem;

        .legendEntry {
            margin: 0 0 0.5rem 0;
        }
    }

    .legend.top, .legend.bottom {
        width: 60%;
        right: 20%;
        left: 20%;
        height: 6rem;

        ul {
            flex-direction: row;
        }

        .legendEntry {
            height: 3rem;
        }
    }

    .legend.top {
        top: 3rem;
    }

    .legend.right {
        right: 1rem;
        bottom: 1rem;
    }

    .legend.bottom {
        bottom: 1rem;
    }

    .legend.left {
        left: 1rem;
        bottom: 1rem;
    }

    .popupContainer {
        position: relative;
        min-width: 12rem;
    }

    .popupItem {
        margin-bottom: 0.5rem;

        h4 {}

        .imageContainer {
            width: 100%;
            min-height: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            img {
                width: 100%;
                image-orientation: from-image;
            }
        }
    }
}
