@import "../../styles/modules/importAll";

.MapVisualisation {
    position: relative;
    height: 100%;

    .mapContainer {
        position: relative;
    }

    .leaflet-container {
        width: 100%;
        height: 100%;
    }

    h2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 8px;

        span {
            text-align: center;
        }
    }

    .PopupContent {
        position: relative;
        min-width: 12rem;
        margin-bottom: 0.5rem;

        .imageContainer {
            width: 100%;
            min-height: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            img {
                width: 100%;
                image-orientation: from-image;
            }
        }
    }

    .Legend {
        z-index: 999;
        position: absolute;
        bottom: 1rem;
        display: flex;
        max-width: 80%;
        margin: 0 10%;
        background-color: rgba(255, 255, 255, 0.8);
        flex-direction: row;
        flex-wrap: wrap;

        .LegendEntry {
            min-width: 50%;
            display: flex;
            flex: 1;
            padding: 0.5rem;
            flex-direction: column;
            max-height: 6rem;
            $borderColor: rgba(0,0,0,0.1);
            &:nth-child(2) {
                border-left: 1px solid $borderColor;
            }
            &:nth-child(3), &:nth-child(5) {
                border-top: 1px solid $borderColor;
            }
            &:nth-child(4), &:nth-child(6){
                border-top: 1px solid $borderColor;
                border-left: 1px solid $borderColor;
            }
        }

        .container {
            display: flex;
            flex-direction: column;
            flex: 1;
        }

        &.top {
            bottom: initial;
            top: 1rem;
        }

        &.right, &.left {
            top: 1rem;
            bottom: initial;
            width: initial;
            height: initial;
            margin: 0;

            h4 {
                margin-bottom: 0.5rem;
            }

            .listContainer {
                height: initial;
                overflow-x: initial;
                overflow-y: auto;

                ul {
                    flex-direction: column;

                    li {
                        margin-right: 0;
                        margin-bottom: 0.5rem;

                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        &.right {
            right: 1rem;
        }
        &.left {
            /* bigger margin to avoid map controls */
            left: 1rem;
            top: 6rem;
        }

        .listContainer {
            flex: 1;
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;

            ul {
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                align-items: center;
                flex: 1;
            }

            li {
                display: flex;
                justify-content: flex-start;
                font-size: 0.9rem;
                margin-right: 1rem;
                align-items: center;

                &:last-child {
                    margin-right: 0;
                }

                .colorMarker {
                    display: block;
                    height: 12px;
                    width: 12px;
                    border-radius: 50%;
                    flex-shrink: 0;
                    margin-right: 4px;
                }
            }
        }
        .italic {
            font-style: italic;
        }
        .contents {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .gradientContainer {
            width: 256px;
            position: relative;
            margin: 0 0.5rem;
            height: 2rem;
        }
        .gradientDisplay {
            width: 100%;
            height: 1rem;
            border: 1px solid black;
        }
        .gradientLabel {
            position: absolute;
            font-size: 0.75rem;
            top: 1.5rem;
            text-transform: uppercase;
            width: 2rem;
            text-align: center;

            &.min {
                left: -1rem;
            }
            &.max {
                right: -1rem;
            }
        }
    }
    .LoadingSpinner {
        z-index: 999;
        position: absolute;
        background: rgba(0, 0, 0, 0.1);
    }
    .failedIndicator {
        z-index: 999;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.1);

        &:after {
            position: absolute;
            height: 2rem;
            width: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            content: '✖';
            left: calc(50% - 1rem);
            top: calc(50% - 1rem);
            color: rgba(0,0,0,0.2);
            font-size: 2rem;
        }
    }
}
