@import "../../styles/modules/importAll";

.VisualisationEditor {
    display: flex;
    position: relative;
    margin-top: 4em;
    width: 100%;
    height: 100%;
    height: calc(100% - 4rem);

    .VisualisationConfig,
    .VisualisationPreview {
        min-height: 40rem;
        min-height: calc(100vh - 4rem);
        padding: 1rem;
    }

    .VisualisationConfig.map {
        padding: 0;
    }

    .VisualisationConfig {
        display: block;
        overflow: auto;
        position: relative;
        width: 30%;
        padding-bottom: 4rem;
        background-color: $white;
        box-shadow: 0rem 0rem 0.25rem rgba(0, 0, 0, 0.15);
    }

    .VisualisationPreview {
        flex: 1;
        max-width: 70%;
    }
}

@media print {
    .VisualisationEditor .VisualisationPreview {
        max-width: 100%;
    }
}