@import "../../styles/modules/importAll";

.ColumnGroupHeader {
    vertical-align: top;

    * {
        vertical-align: top;
    }

    &.clickable:after {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent;
        border-top: 10px solid $black;
        border-bottom: none;
        position: absolute;
        right: 0.5rem;
        top: 25px;
    }

    &.columnMenuActive {
        background-color: rgba(0, 0, 0, 0.125);

        &:after {
            border-top: none;
            border-bottom: 10px solid $black;
        }
    }

    * {
        line-height: 60px;
    }

    .columnKey {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      color: $black;
    }

    .columnType {
        margin: 0 0.5rem;
        color: $black;
        font-weight: 400;
    }

    .columnType, .columnTypeToggle {
        display: inline-block;
    }

    .columnTitleText {
        max-width: calc(100% - 30px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
    }

    .sortLabel {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0rem;
        line-height: 0.7rem;
        padding: 0.125rem 0.5rem 0.18rem 0.5rem;
        background-color: rgba(0, 0, 0, 0.25);
        color: $black;
        text-align: left;

        * {
            line-height: 0.7rem;
        }

        .cancelSort {
            float: right;
            margin-right: -0.25rem;
        }
    }
}
