@import "../../styles/modules/importAll";

.ColumnHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;

    * {
        vertical-align: top;
        line-height: 40px;
    }

    &.columnMenuActive {
        background-color: #f2f2f2;
    }

    .sortLabel {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        top: 0rem;
        line-height: 0.7rem;
        padding: 0.125rem 0.5rem 0.18rem 0.5rem;
        background-color: rgba(0, 0, 0, 0.25);
        color: $black;
        text-align: left;

        * {
            line-height: 0.7rem;
        }

        .cancelSort {
            float: right;
            margin-right: -0.25rem;
        }
    }

    .columnTitleText {
        max-width: calc(100% - 30px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        font-weight: 500;


        .columnKey {
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            color: $black;
        }

        .columnType {
            margin: 0 0.5rem;
            color: $black;
            font-weight: 400;

            &, .columnTypeToggle {
                display: inline-block;
                &>i{
                  margin-top: 10px;
                  margin-left: -4px;
                }
            }
        }
    }

    .icon {
        font-size: 1.8em;
    }
}

.dataset-type-icon{
  color: #252525;
  border-radius: 3px;
  padding: 0px 4px;
  line-height: normal;
  display: inline-block;
  line-height: 22px;
  min-width: 22px;
  text-align: center;
  width: 20px;height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  &.icon-int, &.icon-str{
    font-weight: 600;
    font-size: 12px;
  }
}
.contextMenuItem .dataset-type-icon{
  margin-right: 7px;
  margin-left: -4px;
  transform: translateY(5px);
}