@import "../../styles/modules/importAll";

.ColumnHeader {
    vertical-align: top;
    white-space: normal;
    margin:10px;
    margin-top:20px;
    height: 73%;
    * {
        vertical-align: top;
    }
    &.clickable:after {
        display: block;
        content: "\f107";  /* fa-angle-down this is your text. You can also use UTF-8 character codes as I do here */
        font-family: FontAwesome;    
        position: absolute;
        right: 0.5rem;
        top: 25px;
    }

    &.columnMenuActive {
        background-color: rgba(0, 0, 0, 0.125);

        &:after {
            border-top: none;
            border-bottom: 10px solid $black;
        }
    }

    * {
        // line-height: 60px;
    }

    .columnKey {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      color: $black;
    }

    .columnType {
    //    margin: 0 0.5rem;
        color: $black;
        font-weight: 400;
    }

    .columnType, .columnTypeToggle {
        display: inline-block;
    }

    .columnTitleText {
       // max-width: calc(100% - 30px);
       // overflow: hidden;
       // text-overflow: ellipsis;
       // white-space: nowrap;
       // display: inline-block;
    }
    .columnTypeDiv {
        position: absolute;
        bottom: 0;
    }
    .sortLabel {
        display: block;
       // position: absolute;
        left: 0;
        right: 0;
        top: 0rem;
       // line-height: 0.7rem;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.25);
        color: $black;
        text-align: left;
        margin-top:-12px;
        cursor: pointer;
        * {
            line-height: 0.7rem;
        }

        .cancelSort {
            float: right;
            margin-right: -0.25rem;
        }
    }
}
