@import "../../styles/modules/importAll";

.DatasetTable {
    .wrapper {
        height: calc(100vh - 8rem);

        &.noSidebar {
            width: 100%;
        }

        &.hasSidebar {
            width: calc(100% - 300px);
        }

        .public_fixedDataTableCell_main {
            max-width: 200px;
            // white-space: nowrap;
            // overflow: hidden;
        }
    }

    .sidebarWrapper {
        &.collapsed {
            width: 0;
        }

        &.expanded {
            width: 300px;
        }
    }

    .sidebarTargetingColumn {
        background-color: $lightGrey;
    }

    .ColumnHeader {
        position: relative;
    }
}