@import "../../styles/modules/importAll";

.DataTableSidebar {
    position: relative;
    height: calc(100vh - 8rem);
    width: 290px;
    display: flex;
    flex-direction: column;

    .SidebarHeader {
        padding: 1rem;
        border-bottom: 0.1rem solid $lightBlueGrey;
        height: 4rem;

        h3, button {
            line-height: 2rem;
        }
    }

    .SidebarControls {
        display: flex;
        position: absolute;
        bottom: 0;
        background-color: white;
        border-top: 1px solid $lightBlueGrey;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 0.8rem 1rem;
        height: 4rem;

        .apply, .cancel {
            text-align: center;
            padding: 0 2rem;
            text-transform: uppercase;

            @include border-radius(3px);
        }

        .apply {
            color: $lumenGreen;
            border: 0.1rem solid $lumenGreen;
            transition: color 0.7s ease, border-color 0.7s ease;
        }

        .cancel, .apply.disabled {
            color: $black;
            border: 0.1rem solid $black;
        }
    }

    .inputs {
        height: calc(100% - 8rem);
        padding: 1rem;
        line-height: 1.4rem;
        overflow-y: auto;
    }

    .inputGroup {
        margin-bottom: 1.25rem;

        label {
            margin-bottom: 0.25rem;
        }

        input {
            display: block;
            width: 100%;
            padding: 0.5rem;
        }

        .SelectMenu, input {
            height: 2.6rem;
            color: #333;
        }
    }

    h3 {
        display: inline-block;
    }

    .close {
        float: right;
        line-height: 1.4rem;
    }

    .TransformationList {
        height: calc(100vh - 16rem);
        overflow-y: auto;
        padding: 1rem;

        ol {
            list-style: initial;
            list-style-type: decimal;

            li {
                margin-left: 1.25rem;
                padding: 0.5rem;
            }
        }
    }
}