/*---------------------------------------------------------------------------------

    Title:          Akvo.org Styles for Desktop, mobile, tablet
    Author:         Loic Sans, loic@akvo.org

---------------------------------------------------------------------------------*/

            /* Colours
---------------------------------------------------------------------------------*/

/* Akvo Primary Colours:    */
$akvoPurple: rgb(44, 42, 116);

/* Akvo Purplish Blue */
$rsrBlue: rgb(114, 205, 255);

/* Akvo very light blue */
$flowOrange: rgb(222, 137, 41);

/* Akvo Orange / light Brown */
$openaidYellow: rgb(255, 210, 0);

/* Akvo Yellow */
$akvopediaPink: rgb(191, 131, 185);

/* Akvo Pink*/
$akvoTvRed: rgb(238, 49, 36);

/* Akvo Red*/
$primary4: rgb(153, 153, 153);

/* Akvo Mid grey */
$primary5: rgb(57, 102, 128);

/* Akvo Darker shade Blue from light blue */
$primary6: rgb(107, 134, 141);

/* Akvo link blue */
$akvoLink: rgb(55, 146, 179);

/* Akvo black */
$akvoBlack: rgb(32, 32, 36);

/* Akvo Secondary Colours:    */
$secondary1: rgb(225, 237, 195);

/* Akvo very Light green */
$secondary2: rgb(227, 27, 35);

/* Akvo red */
$secondary3: rgb(219, 135, 201);

/* Akvo Pink */
$secondary5: rgb(125, 125, 125);

/* Akvo Darker Grey */
$secondary6: rgb(66, 76, 43);

/* Akvo Very dark Green (Military) */
$secondary7: rgb(119, 97, 0);

/* Akvo Kaki (Greenish Brown) */
$secondary8: rgb(242, 240, 230);

/* Akvo Off White */
$secondary9: rgb(74, 177, 207);

/* Akvo darkish blue / Water Point */
$darkPurple: rgb(46, 19, 83);

/* Colors for the 2015 homepage redesign */
$orange2015: rgb(222, 137, 41);
$green2015: rgb(116, 182, 49);
$yellow2015: rgb(255, 210, 0);
$pink2015: rgb(219, 135, 201);
$lightblue2015: rgb(114, 205, 255);
$darkblue2015: rgb(44, 42, 116);

$bodyFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$scriptFont: "Palatino", "Book Antiqua", Georgia, serif;
$titleFont: "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin border-radius($property) {
    -moz-border-radius: $property;
    -o-border-radius: $property;
    -webkit-border-radius: $property;
    border-radius: $property;
}

@mixin box-shadow($boxshadow...) {
    -moz-box-shadow: $boxshadow;
    -o-box-shadow: $boxshadow;
    -webkit-box-shadow: $boxshadow;
    box-shadow: $boxshadow;
}

@mixin background-size($backgroundSize...) {
    -moz-background-size: $backgroundSize;
    -o-background-size: $backgroundSize;
    -webkit-background-size: $backgroundSize;
    background-size: $backgroundSize;
}

@mixin transition($transitonProperties) {
    -moz-transition: $transitonProperties;
    -o-transition: $transitonProperties;
    -webkit-transition: $transitonProperties;
    transition: $transitonProperties;
}

@mixin noWrapTxt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity = $opacity-ie);
    //IE8
}

@mixin border-radius($property) {
    -moz-border-radius: $property;
    -o-border-radius: $property;
    -webkit-border-radius: $property;
    border-radius: $property;
}

@mixin box-sizing($boxSizingProperties) {
    -moz-box-sizing: $boxSizingProperties;
    -webkit-box-sizing: $boxSizingProperties;
    box-sizing: $boxSizingProperties;
}

/* Media Queries
  ========================================================================== */
$width-small: 768px;
$width-medium: 992px;
$width-med: 1024px;
$width-large: 1200px;
$width-huge: 1400px;

@mixin responsive($width) {
    @if $width == huge-screens {
        @media only screen and (min-width: $width-huge) {
            @content;
        }
    }
    @else if $width == wide-screens {
        @media only screen and (min-width: $width-large) {
            @content;
        }
    }
    @else if $width == mediums-screens {
        @media only screen and (min-width: $width-medium) {
            @content;
        }
    }
    @else if $width == small-screens {
        @media only screen and (min-width: $width-small) {
            @content;
        }
    }
    @else if $width == wide-max-screens {
        @media only screen and (max-width: $width-large) {
            @content;
        }
    }
    @else if $width == mediums-max-screens {
        @media only screen and (max-width: $width-medium) {
            @content;
        }
    }
    @else if $width == small-max-screens {
        @media only screen and (max-width: $width-small) {
            @content;
        }
    }
}

/* Placeholder
  ========================================================================== */

@mixin placeholder-color($color) {
    &.placeholder {
        color: $color;
    }
    &:-moz-placeholder {
        color: $color;
    }
    &::-webkit-input-placeholder {
        color: $color;
    }
    &:-ms-input-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        color: $color;
    }
    &::-moz-placeholder {
        /* Firefox 19+ */
        color: $color;
    }
}

$lightBlue: #72cdff;
$btnColor: #5d9de5;

@mixin button($btnColor) {
    /* use @extend .button on any element ( a or button) or use directly in markup class="button" */
    display: inline-block;
    padding: 5px 8px;
    background-color: $btnColor;
    color: white !important;
    font-size: 0.95em;
    @include border-radius(3px);
    border: 1px solid transparent;
    text-align: center;
    &:hover {
        background: darken($btnColor, 10%);
        color: white;
    }
    &.disabled {
        cursor: not-allowed;
        background-color: rgba(128, 128, 128, 0.1) !important;
        color: rgba(128, 128, 128, 0.4) !important;
        border: 1px solid transparent;
        &:hover {
            cursor: not-allowed;
            background-color: rgba(128, 128, 128, 0.1) !important;
            color: rgba(128, 128, 128, 0.4) !important;
            border: 1px solid transparent;
        }
    }
}

@mixin smallButton($btnColor) {
    @include button($btnColor);
    font-size: 0.8em;
    padding: 3px 6px;
}

@mixin btnOutline($btnColor) {
    @include button($btnColor);
    background-color: transparent;
    color: $flowAnchorLink !important;
    border: 1px solid $flowAnchorLink;
    &:hover {
        color: white !important;
        border: none;
        border: 1px solid $flowAnchorLink;
    }
    &.disabled {
        cursor: not-allowed;
        color: rgba(128, 128, 128, 0.4) !important;
        border: 1px solid rgba(128, 128, 128, 0.4);
        &:hover {
            cursor: not-allowed;
            color: rgba(128, 128, 128, 0.4) !important;
            border: 1px solid rgba(128, 128, 128, 0.4);
        }
    }
}
