@import "library";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: inherit;
}

img {
    border: 0em;
    height: auto;
    max-width: 100%;
}

a {
    color: #5d9de5;
    text-decoration: none;
    @include transition(color 0.2s linear);
}

a:hover {
    color: #3f7cc0;
    text-decoration: underline;
}

/*--------------------------------------------------------------
                        Default Typography.
  --------------------------------------------------------------*/

/* Default font settings.
   The font-size percentage is of 16px. (0.875 * 16px = 14px) */
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: transparent;
    font-size: 100%;
    margin-top: 0em !important;
    overflow-y: scroll;
    text-size-adjust: 100%;
}

body {
    color: rgb(32, 32, 36);
    font-family: $bodyFont;
    font-size: 1em;
    line-height: 1.4em;
    text-rendering: optimizeLegibility;
    width: 100%;
    height: 100%;
}

body, button, input {
    font-family: $bodyFont;
    color: $akvoBlack;
}

p, h1, h2, h3, h4, h5, button, input {
    line-height: 1.4em;
    font-family: $bodyFont;
    color: $akvoBlack;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.3em;
}

.button {
    @include button($btnColor);
}

body.patternBg {
    background: url("../img/pattern.jpg") repeat;
}

@include responsive(small-max-screens) {
    body {
        font-size: 1em;
    }
}


* {
    box-sizing: border-box;
}

.langSelect {
    position: absolute;
    text-align: center;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .languagepicker {
        background-color: #FFF;
        display: inline-block;
        padding: 0;
        height: 40px;
        overflow: hidden;
        transition: all .3s ease;
        vertical-align: top;
        text-align: center;
        margin-top: 20px;
    }
    .languagepicker:hover {
        /* don't forget the 1px border */
        height: 81px;
    }
    .languagepicker a {
        color: #000;
        text-decoration: none;
    }
    .languagepicker li {
        display: block;
        padding: 0px 20px;
        line-height: 40px;
        border-top: 1px solid #EEE;
    }
    .languagepicker li:hover {
        background-color: #EEE;
    }
    .languagepicker a:first-child li {
        border: none;
        background: #FFF !important;
    }
    .languagepicker li img {
        margin-right: 5px;
    }
    .roundborders {
        border-radius: 5px;
    }
    .large:hover {
        height: 245px;
    }
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    width: 13em;
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png") 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.loginForm {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(white, 0.6);
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba($akvoBlack, 0.2);
    hr {
        width: 75%;
        margin: 75px auto;
        background-color: #cccccc;
    }
    .actualForm {
        width: 100%;
        margin: 20px auto;
        button[type="submit"] {
            width: 50% !important;
            display: inline-block;
            margin-top: 15px;
        }
        .field-wrapper {
            width: 60%;
            margin: 0 auto;
            input {
                width: 100%;
                min-height: 52px;
                font-size: 17px;
                padding: 0 15px;
                line-height: 20px;
                display: inline-block;
                margin-bottom: 2em;
                vertical-align: middle;
                border-radius: 3px;
                width: 100%;
                background-color: #ffffff;
                border: 2px solid #c9c9c9;
                margin: 0 0 24px 0;
                &:focus, &:active {
                    border: 2px solid #52bad5;
                    outline: none;
                }
                &:hover {
                    border-color: #a6a6a6;
                }
            }
            label {
                display: block;
                text-align: left;
            }
        }
    }
    .akvoBrand {
        margin-top: 50px;
        h1 {
            display: block;
            a {
                display: block;
                background: url(../img/Akvo_RGB_logo.png) center center no-repeat;
                text-indent: -9999px;
                background-size: 90px;
            }
        }
    }
}

.productChoice {
    ul {
        display: flex;
        align-items: stretch;
        align-content: center;
        width: 80%;
        margin: 0 auto;
        li {
            flex-grow: 1;
            &.login {
                border: 1px solid rgba(#cccccc, 0.5);
                background-color: rgba(white, 0.1);
                padding: 15px 5px;
                h1 {
                    text-indent: -9999px;
                    background-size: 200px;
                }
                &.akvoLumen {
                    h1 {
                        background: url(../img/akvo-lumen_RGB_logo.png) center center no-repeat;
                        background-size: 150px;
                    }
                    p {
                        margin-bottom: 20px;
                    }
                }
                &.akvoFlow {
                    h1 {
                        background: url(../img/akvo-flow_RGB_logo.png) center center no-repeat;
                        background-size: 120px;
                    }
                    p {
                        margin-bottom: 20px;
                    }
                }
                &.akvoRsr {
                    h1 {
                        background: url(../img/akvo-rsr_RGB_logo.png) center center no-repeat;
                        background-size: 120px;
                    }
                    p {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}
