@import "../../../styles/modules/importAll";

.SourceMergeOptions {
  flex: 1;
  padding-left: 3em;
  padding-right: 3em;
  
  .SourceDeriveCategoryOptions__title {
    font-weight: bold;
  }
  
  .SourceDeriveCategoryOptions__type {
    text-align: right;
  }
}
