{
 :akvo.lumen.component.handler/handler-verify  {:middleware ^:replace [#ig/ref :akvo.lumen.component.tenant-manager/wrap-label-tenant]}
 :akvo.lumen.component.handler/handler-api  {:middleware ^:replace [#ig/ref :akvo.lumen.component.tenant-manager/wrap-label-tenant
                                                                    #ig/ref :akvo.lumen.test-utils/wrap-jwt-mock
                                                                    #ig/ref :akvo.lumen.monitoring/middleware]}}

