{:akvo.lumen.component.handler/handler-verify {:middleware ^:replace [#ig/ref :akvo.lumen.component.tenant-manager/wrap-label-tenant
                                                                      #ig/ref :akvo.lumen.component.handler/common-middleware]}
 :akvo.lumen.test-utils/wrap-jwt-mock {:public-client #ig/ref :akvo.lumen.component.authentication/public-client}
 :akvo.lumen.test-utils/wrap-auth-datasets {:tenant-manager #ig/ref :akvo.lumen.component.tenant-manager/tenant-manager}

 :akvo.lumen.component.handler/handler-api {:middleware ^:replace [#ig/ref :akvo.lumen.component.tenant-manager/wrap-label-tenant
                                                                   #ig/ref :akvo.lumen.test-utils/wrap-jwt-mock
                                                                   #ig/ref :akvo.lumen.test-utils/wrap-auth-datasets
                                                                   #ig/ref :akvo.lumen.component.handler/common-middleware
                                                                   #ig/ref :akvo.lumen.monitoring/middleware]}

 :akvo.lumen.endpoint.env/env {:lumen-deployment-color #duct/env ["LUMEN_DEPLOYMENT_COLOR" :or "Pink"]
                               :lumen-deployment-environment #duct/env ["LUMEN_DEPLOYMENT_ENVIRONMENT" :or "Local test"]
                               :lumen-deployment-version #duct/env ["LUMEN_DEPLOYMENT_VERSION" :or "Local version"]
                               :piwik-site-id "165"
                               :sentry-client-dsn "dev-sentry-client-dsn"}

 :akvo.lumen.migrate/migrate {:seed
                              ^:replace {:tenants [{:db_uri "jdbc:postgresql://postgres/test_lumen_tenant_1?ssl=true&user=lumen&password=password"
                                                    :label "t1"
                                                    :title "Tenant 1"}
                                                   {:db_uri "jdbc:postgresql://postgres/test_lumen_tenant_2?ssl=true&user=lumen&password=password"
                                                    :label "t2"
                                                    :title "Tenant 2"}]}}
 }
