{:akvo.lumen.component.handler/handler-verify {:middleware ^:replace [#ig/ref :akvo.lumen.component.tenant-manager/wrap-label-tenant
                                                                      #ig/ref :akvo.lumen.component.handler/common-middleware]}
 :akvo.lumen.test-utils/wrap-jwt-mock {:keycloak #ig/ref :akvo.lumen.component.keycloak/data}
  :akvo.lumen.test-utils/wrap-auth-datasets {:tenant-manager #ig/ref :akvo.lumen.component.tenant-manager/tenant-manager}
 :akvo.lumen.component.handler/handler-api {:middleware ^:replace [#ig/ref :akvo.lumen.component.tenant-manager/wrap-label-tenant
                                                                   #ig/ref :akvo.lumen.test-utils/wrap-jwt-mock
                                                                   #ig/ref :akvo.lumen.test-utils/wrap-auth-datasets
                                                                   #ig/ref :akvo.lumen.component.handler/common-middleware
                                                                   #ig/ref :akvo.lumen.monitoring/middleware]}}

