<configuration scan="true" scanPeriod="30 seconds">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.zaxxer.hikari.HikariDataSource">
    <level value="warn"/>
  </logger>
  <logger name="akvo.lumen.component.caddisfly">
    <level value="warn"/>
  </logger>
  <logger name="akvo.lumen.component.emailer">
    <level value="warn"/>
  </logger>
  <logger name="org.projectodd.wunderboss.web.Web">
    <level value="warn"/>
  </logger>
  <logger name="akvo.lumen.utils.local-error-tracker">
    <level value="warn"/>
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
