{:akvo.lumen.component.hikaricp/hikaricp       {:uri "jdbc:postgresql://postgres/test_lumen?ssl=true&user=lumen&password=password"}

 :akvo.lumen.component.http/http               {:port 3100}

 :akvo.lumen.component.keycloak/data  {:url          "http://auth.lumen.local:8080/auth"
                                       :realm       "akvo"}
 :akvo.lumen.test-utils/wrap-jwt-mock {:keycloak #ig/ref :akvo.lumen.component.keycloak/data}
 :akvo.lumen.migrate/migrate {:seed
                              ^:replace {:tenants [{:db_uri "jdbc:postgresql://postgres/test_lumen_tenant_1?ssl=true&user=lumen&password=password"
                                                    :label "t1"
                                                    :title "Tenant 1"}
                                                   {:db_uri "jdbc:postgresql://postgres/test_lumen_tenant_2?ssl=true&user=lumen&password=password"
                                                    :label "t2"
                                                    :title "Tenant 2"}]}}
 }
