{:keycloak
 {:data {:url "http://auth.lumen.local:8080/auth"
         :realm "akvo"}
  :credentials
  {"client_id" "akvo-lumen-confidential"
   "client_secret" "caed3964-09dd-4752-b0bb-22c8e8ffd631"}}
 :tenant-manager
 {:db_uri "jdbc:postgresql://postgres/test_lumen?ssl=true&user=lumen&password=password"}
 :tenants
 [{:db_uri "jdbc:postgresql://postgres/test_lumen_tenant_1?ssl=true&user=lumen&password=password"
   :label "t1"
   :title "Tenant 1"}
  {:db_uri "jdbc:postgresql://postgres/test_lumen_tenant_2?ssl=true&user=lumen&password=password"
   :label "t2"
   :title "Tenant 2"}]}
