@import "../../styles/modules/importAll";

.InviteUser {
    flex: 1;
    display: flex;
    flex-direction: column;

    .ModalContents {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
    }
}