@import "../../styles/modules/importAll";

.EntityTypeHeader {

    .entityInfo {
        width: 60%;
        background-color: white;
        border-right: 0.1rem solid $lightBlueGrey;
    }

    .entityTitle {
        &.default {
            font-style: italic;
            color: $darkGrey;
        }

        span {
            padding: 0 4px;

            @include noWrapTxt;
        }

        &.clickable {
            span {
                border: 1px solid transparent;

                &:hover {
                    border: 1px solid $textSecondary;
                    cursor: text;
                }
            }
        }
    }

    .entityTitleInput {
        font-size: 1.55rem;
        font-style: italic;
        width: 100%;
        padding: 0 0 0 4px;
        border: 1px solid $textSecondary;
        color: $darkGrey;
    }

    .saveStatus {
        color: $black;
        margin-top: 0.3rem;
        font-size: 0.9rem;
        margin-left: 6px;
        margin-top: -2px;
    }

    .overflow {
        border: 0.1rem solid $lightBlueGrey;

        @include border-radius(3px);

        padding: 0.5rem;
        margin: 0.25rem 0.5rem;
    }
}
