@import "../../styles/modules/importAll";

.EntityTypeHeader {

    .entityInfo {
        width: 60%;
        background-color: white;
        border-right: 0.1rem solid $lightBlueGrey;
    }

    .entityTitle {
        &.default {
            font-style: italic;
            color: $darkGrey;
        }

        span {
            padding: 0 4px;

            @include noWrapTxt;
        }

        &.clickable {
            span {
                border: 1px solid transparent;

                &:hover {
                    border: 1px solid $textSecondary;
                    cursor: text;
                }
            }
        }
    }

    .EntityTitleInput {
        font-size: 1.55rem;
        line-height: 2em;
        color: $darkGrey;
        flex-grow: 1;
        flex-direction: column;
        height: 35px;
        margin-top: 10px;
        margin-right: 20px;

        input {
            width: 100%;
            font-size: 1.55rem;
        }

        span,
        input {
            line-height: 1.55em;
        }
    }

    .saveStatus {
        color: $textSecondary;
        font-size: 0.9rem;
        line-height: 56px;
    }

    .overflow {
        border: 0.1rem solid $lightBlueGrey;

        @include border-radius(3px);

        padding: 0.5rem;
        margin: 0.25rem 0.5rem;
    }
}
