@import "../styles/modules/importAll";

.WorkspaceNav {
    border-right: 0.1rem solid rgba(0, 0, 0, 0.05);
    width: 16rem;
    z-index: 2;
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
    background-color: $bg1;

    .header {
        height: 9rem;

        .rowPrimary {
            width: 100%;
            height: 4rem;
        }

        .menuIcon, h1 {
            display: inline-block;
        }

        .menuIcon {
            margin: 0.625rem 0.375rem;
            height: 2.5rem;
            width: 2.5rem;
            border-radiums: 0.25rem;
            background-image: url("../styles/img/icon-64-menu.png");
            background-size: contain;
            background-repeat: no-repeat;
        }

        h1 {
            width: calc(100% - 3.25rem);
            height: 4rem;
            vertical-align: top;

            a {
                height: 80%;
                width: 80%;
                margin: 0.75rem auto 0.75rem 1rem;
                color: $textPrimary;
                background-image: url("../styles/img/logo.png");
                background-size: contain;
                background-repeat: no-repeat;
                color: transparent;
                display: block;
            }
        }
    }

    .OrganizationMenu {
        padding: 1.5rem 1rem 1rem 1rem;
        background: rgba($lightBlueGrey, 0.05);
        color: rgba(white, 0.3);

        .name {
            padding-bottom: 0.25rem;
        }

        .organization {}
    }

    .links {
        margin-top: 2.5rem;

        ul {
            border-top: 1px solid rgba(black, 0.9);
            border-bottom: 1px solid rgba($lightBlueGrey, 0.05);

            li {
                padding: 10px 5px 10px 1rem;
                margin-bottom: 0px;
                border-bottom: 1px solid rgba(black, 0.9);
                border-top: 1px solid rgba($lightBlueGrey, 0.05);

                a {}
            }
        }
    }

    .subtitle {
        color: $textSecondary;
        text-decoration: none;
        text-transform: capitalize;

        &.selected {
            font-weight: bold;
            color: $mintGreen;
        }
    }

    .NavLink, .CollectionsList {}

    .NavLink {
        .selected {}

        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: 0;
            border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
            padding-bottom: 0;
        }
    }

    .CollectionsList {
        h3 {
            display: inline-block;
            position: relative;
            padding-right: 2.5rem;
            color: rgba(255, 255, 255, 0.25);
        }

        .addCollection {
            color: $textSecondary;
            line-height: 1rem;
            font-size: 1.4rem;
            background-color: transparent;
            border: none;
            position: absolute;
            right: 0;
        }

        ul {
            border: none;

            li {
                padding: 2px 5px 2px 5px;
                margin: 1px 0;
                background: none;
                border: none;

                &:first-child {
                    margin-top: 5px;
                }

                a {
                    text-decoration: none;
                    color: $textSecondary;
                }
            }
        }

        .selected {
            color: $textHighlight;
        }
    }

    .NavWorkspaceSwitch {
        padding: 1rem;
        text-align: center;

        a {}
    }

    &.collapsed {
        position: absolute;
        top: 0;
        left: 0;
        height: 4rem;
        min-height: 0;
        width: 4rem;
        overflow: hidden;
        border-right: none;

        .menuIcon {
            margin-left: 0.75rem;
            margin-right: 0.75rem;
        }
    }

    &.floating {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        bottom: 0;
    }
}