@import "../../styles/modules/importAll";

.CreateCollection {
    .ModalContents {
        justify-content: center;
    }

    input, label {
        display: block;
    }

    label {
        color: $black;
        display: none;
    }

    input {
        padding: 0.25rem;
        margin-top: 0.25rem;
        width: 100%;
    }
}