@import "../../styles/modules/importAll";

.CreateCollection {
    height: 100%;
    position: relative;

    .contents {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }

    input, label {
        display: block;
    }

    label {
        color: $blueGrey;
    }

    input {
        padding: 0.25rem;
        margin-top: 0.25rem;
        width: 100%;
    }
}