@import "../../styles/modules/importAll";

.CreateDataset {
    .tabMenu {
        padding: 3rem 0;
    }

    .tab {
        display: inline-block;
        width: 27%;
        margin-left: calc(19% / 6);
        margin-right: calc(19% / 6);
        text-align: center;
        padding: 0.75rem 0.75rem;
        color: $midGrey;
        border-bottom: 0.3rem solid $midGrey;
        transition: color 0.3s, border 0.3s;
        transition-timing-function: ease;

        &.selected {
            color: $lumenGreen;
            border-color: $lumenGreen;
        }
    }

    .buttonContainer {
        position: relative;
    }

    .FileSelection {
        display: flex;
        width: 100%;
        flex: 1;
        margin-bottom: 1rem;

        .contents {
            width: 100%;
            height: 100%;
        }
    }

    .LinkFileSelection {
        label, input {
            padding: 0.25rem;
        }

        label {
            margin-right: 0.5rem;
        }

        .linkFileInput {
            width: 20rem;
            max-width: 60%;
        }

        .linkFileInput, .linkFileLabel {}

        div {
            padding: 1rem;
            width: 100%;
            max-width: 30rem;
            margin: 0 auto;
            text-align: left;
        }
    }

    .DataFileFileSelection {
        width: 100%;
        background: rgba($akvoPurple, 0.05);
        border: 2px dotted rgba($akvoPurple, 1);
        margin-bottom: 1rem;
        padding-top: 1rem;

        @include border-radius(6px);

        min-height: 100%;
        text-align: center;

        .dataFileUploadMessage, .dataFileUploadInput {}

        .dataFileUploadMessage {
            line-height: 2rem;
        }

        .dataFileUploadInput {
            padding: 1rem;
        }

        .dataFileUploadHeaderToggle {
            display: inline-block;
            text-align: left;
            padding: 1rem;
            padding-bottom: 1rem;

            &.progressActive {
                padding-bottom: 1rem;
            }
        }

        .ProgressBar {
            width: 90%;
            max-width: 20rem;
            margin: 1rem auto 1rem auto;
        }

        .errorText {
            color: $errorRed;
        }
    }

    .Settings {
        dt, dd {
            display: inline-block;
            line-height: 1.4rem;
            margin-bottom: 0.5rem;
        }

        dt {
            width: 25%;
            max-width: 12rem;
            padding-right: 0.25rem;
            text-align: right;
        }

        dd {
            width: 70%;
            min-width: calc(100% - 12rem);
        }

        .datasetNameInput {
            width: 20rem;
        }
    }
}
