@import "../../styles/modules/importAll";

.ShareEntity {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    min-height: 100%;

    .ModalContents {
        flex: 1;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
        align-items: center;

        &.no-margin {
            margin: 0;
        }
    }

    .privacyContainer {
        input {
            padding: 4px;
            margin-right: 4px;    
        }
    }

    .alert {
        color: $darkLime;
        display: inline-block;

        text-align: center;
        margin-right: 0.15rem;

        &.alert-danger {
            color: $errorRed;
        }
    }

    .copyButton {
        @include btnOutline($black, $white);
    }

    .showEmbedButton {
        @include btnOutline($black, $black);
    }

    .savePasswordButton {
        @include button($anchorLink, $white);
    }

    textarea {
        padding: 0;
        margin: 0;
    }

    .contents {
        padding-top: 4rem;

        label {
            display: block;
            color: $midGrey;
            padding: 0.25rem 0;
        }

        .shareUrl {
            margin-top: 0.25rem;
            padding: 0.75rem 0.25rem;
            border: 0.1rem solid $lightGrey;
            max-width: 100%;

            @include border-radius(3px);

            a {
                color: inherit;
                text-decoration: none;
                word-wrap: break-word;
            }
        }
    }
}