@import "../../../styles/modules/importAll";

.DeriveColumn {
    .HelpText {
        text-align: justify;
    }

    .HelpTextToggleButton {
        display: block;

        @include border-radius(100%);

        width: 1.4rem;
        height: 1.4rem;
        color: white;
        background-color: $midGrey;
        margin-top: 0.25rem;
    }

    .CodeFeedback {
        .container {
            display: flex;
            justify-content: space-between;
            margin: 0.1rem 0;
        }

        .feedbackMessage {
            color: $errorRed;
        }
    }

    .CodeMirror {
        border: 1px solid #eee;
        height: 100px;
    }
}