.DataTableSidebar.GroupsList {
  .SidebarHeader {
    h3 {
      font-size: 16px;
    }
  
    .fa {
    display: inline-block;
    padding: 5px 10px;
    background: #e6e6e6;
    border-radius: 5px;
  }}

  .inputs {
    padding: 0px;

    .groupItem {
      display: flex;
      padding: 15px 1rem;
      justify-content: space-between;
      text-transform: capitalize;

      &:hover,
      &.active {
        background-color: rgba(32, 32, 34, 0.05);
      }

      p {
        font-size: 14px;
      }

      .fa {
        font-size: 1.5em;
      }
    }
  }
}