.TransformationLog {
  .mergedColumnsInfo {
    em {
      font-style: italic;
    }
    .mergedColumnTitles {
      padding: 0.25rem 0;
      li {
        list-style: initial;
        padding: initial;
      }
    }
  }
}
