$white: rgb(247, 247, 250);
$black: rgb(32, 32, 34);
$textPrimary: lighten($black, 30%);
$textSecondary: lighten($black, 60%);

$lumenGreen: rgb(108, 164, 41);
$complmentary: complement($lumenGreen);
$invert: invert($lumenGreen);

$darkLime: rgb(66, 100, 25);
$darkLime2: rgb(91, 138, 35);
$lime2: rgb(116, 177, 44);
$lightLime: rgb(158, 240, 60);

$akvoPurple: rgb(43, 46, 113);
$anchorLink: $lumenGreen;
$anchorLinkLight: rgb(8, 104, 232);

$lightBlueGrey: rgb(229, 230, 237);
//Unused ??
$lightGrey: rgb(241, 242, 242);
$midLightGrey: rgb(180, 180, 180);
$lightGreen: rgb(223, 244, 234);
$midGrey: rgb(109, 110, 113);
$darkGrey: rgb(54, 55, 57);
$lightBrown: rgb(156, 133, 121);
$errorRed: rgb(192, 57, 43);
$lightErrorRed: rgba(192, 57, 43, 0.2);
$warnYellow: rgb(243, 156, 18);


$success: $lime2;
$warning: $warnYellow;
$danger: $errorRed;
$info: lighten($anchorLinkLight, 0.5);

$dashboardFG: #2B2D33;
$dashboardFGSecondary: #858994;
$dashboardBG: #F2F3F7;