$white: white;
$strongBlue: rgb(43, 46, 113);
$blueGrey: rgb(149, 150, 184);
$lightBlueGrey: rgb(229, 230, 237);
$lightGrey: rgb(241, 242, 242);
$mintGreen: rgb(43, 182, 115);
$lightGreen: rgb(223, 244, 234);
$midGrey: rgb(109, 110, 113);
$lightBrown: rgb(156, 133, 121);