$white: white;
$black: black;
$strongBlue: rgb(43, 46, 113);
$anchorLink: #218B91;
$blueGrey: rgb(149, 150, 184);
$lightBlueGrey: rgb(229, 230, 237);
$lightGrey: rgb(241, 242, 242);
$mintGreen: rgb(43, 182, 115);
$lightGreen: rgb(223, 244, 234);
$midGrey: rgb(109, 110, 113);
$darkGrey: rgb(54, 55, 57);
$lightBrown: rgb(156, 133, 121);
$errorRed: rgb(192, 57, 43);
$lightErrorRed: rgba(192, 57, 43, 0.2);
$warnYellow: rgb(243, 156, 18);

$bg1: rgb(26, 29, 36);

/* Medium blue */
$bg2: rgb(32, 37, 45);

/* Light blue */
$bg3: rgb(22, 24, 26);

/* Dark blue */

$textPrimary: rgb(167, 169, 172);

/* Light gray */
$textSecondary: rgb(152, 154, 158);

/* Slightly darker gray */
$textHighlight: rgb(41, 166, 107);

/* Mint green */