@import 'modules/colors';

.Chart {
  border: 0.1rem solid $lightGrey;
  h2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px;

    span {
      font-weight: bold;
      text-align: center;
    }
  }
}