@import 'modules/colors';

.CreateDataset {
    min-height: 100%;
    .buttonContainer {
        position: relative;
    }
    .FileSelection {
        width: 100%;
        min-height: 15rem;
        display: table;
        .contents {
            vertical-align: middle;
            text-align: center;
            display: table-cell;
        }
    }
    .LinkFileSelection {
        .linkFileInput, .linkFileInputLabel {
            font-size: 1.25rem;
        }
        .linkFileInputLabel {
            margin-right: 0.5rem;
        }
    }
    .DataFileFileSelection {
        .dataFileUploadMessage, .dataFileUploadInput {
            font-size: 1rem;
        }
        .dataFileUploadMessage {
            line-height: 2rem;
        }
        .dataFileUploadInput {
            padding: 1rem;
        }
    }
    .Settings {
        dt, dd {
            display: inline-block;
            line-height: 1.4rem;
            margin-bottom: 0.5rem;
        }
        dt {
            width: 25%;
            max-width: 12rem;
            padding-right: 0.25rem;
            text-align: right;
        }
        dd {
            width: 70%;
            min-width: calc(100% - 12rem);
        }
        .datasetNameInput {
            width: 20rem;
        }
    }
    .Preview {
        padding-top: 1rem;
        padding-bottom: 6rem;
    }
}
