.CreateCollectionModal {
    position: relative;
    min-height: 100%;
    .title {
        position: absolute;
        top: 0rem;
        left: 0rem;
    }
    .close {
        position: absolute;
        top: 0rem;
        right: 0rem;
        padding: 0.3rem;
        font-size: 1rem;
    }
    .contents {
        padding: 4rem 0 3rem 0;
        label {
            display: block;
            color: rgba(0, 0, 0, 0.5);
            font-size: 0.8rem;
            padding: 0.25rem;
        }
        input {
            padding: 0.25rem;
            font-size: 1rem;
            width: 20rem;
        }
    }
    .cancel, .create {
        position: absolute;
        bottom: 0;
        font-size: 1rem;
        padding: 0.3rem;
    }
    .cancel {
        left: 0;
    }
    .create {
        right: 0;
    }
}
