@import 'modules/colors';

.DashboardEditor {
  position: relative;
  display: flex;
  margin-top: 4em;
  width: 100%;
  min-height: 100%;
  .DashboardVisualisationList, .DashboardEditorCanvasContainer {
    height: calc(100vh - 4rem);
    overflow: auto;
  }
  .DashboardVisualisationList {
    width: 20rem;
  }
  .DashboardEditorCanvasContainer {
    flex: 1;
  }
  .react-grid-layout {
    background-color: whitesmoke;
  }
  .react-resizable-handle {
    z-index: 99;
  }
}
