@import 'modules/colors';

.DashboardEditor {
  position: relative;
  margin-top: 4em;
  width: 100%;
  min-height: 100%;
  .VisualisationPreview, .dashChart {
    padding: 0;
  }
  .DashMap {
    .leaflet-container {
      width: 100%;
      height: 180px;
    }
  }
}
