@import 'modules/colors';

.DashboardCanvasItem {
  position: relative;
  overflow: hidden;
  padding: 10px;
  margin: 10px;
  background-color: white;
  border: 0.1rem solid $midGrey;

  .itemContainer {
    &.text {
      position: relative;
    }
  }
  .deleteButton {
    position: absolute;
    top: 0;
    right: 5px;
    display: block;
    font-weight: bold;
    transform: rotate(45deg);
    z-index: 2;
    font-size: 1.5rem;
  }
  .DashboardCanvasItemEditable {
    height: 100%;
    textarea {
      font-size: inherit;
      line-height: inherit;
    }
  }

}
