@import 'modules/colors';

.DatasetTable {
  margin-top: 4rem;
  .ColumnHeader {
    * {
      line-height: 50px;
    }
    .columnType {
      text-transform: uppercase;
      font-size: 0.75rem;
      margin: 0 0.75rem;
      color: $blueGrey;
    }
  }
}
