@import 'modules/colors';

.LibraryHeader {
    height: 9rem;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    .row {
        width: 100%;
        position: relative;
        padding: 0 1rem;
        > * {
            vertical-align: top;
            display: inline-block;
            padding: 0.5rem 0.5rem;
        }
    }
    .rowPrimary {
        padding-top: 0.5rem;
        height: 5rem;
    }
    .rowSeconday {
        height: 4rem;
    }
    .LocationIndicator {
        color: $strongBlue;
        width: 15%;
        margin-right: 40%;
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .LibraryCreateButton {
        width: 7rem;
        margin-right: 1.5rem;
        height: 3.5rem;
        position: relative;
        .SelectMenu {
            height: 100%;
            .Select-control {
                background-color: $mintGreen;
                border: 0;
                border-radius: 0.4rem;
                &:hover {
                    opacity: 0.8;
                }
            }
            .Select-placeholder {
                color: $white;
                text-transform: uppercase;
                font-size: 1.2rem;
                padding-top: 0.1rem;
            }
            .Select-arrow {
                border-color: $white transparent transparent;
                border-width: 10px 10px 5px;
            }
            .Select.is-open {
                .Select-control {
                    background-color: $lightGreen;
                }
                .Select-placeholder {
                    color: $mintGreen;
                }
                .Select-arrow {
                    border-color: $mintGreen transparent transparent;
                }
            }
            .Select-arrow-zone {
                padding-top: 10px;
                padding-right: 10px;
            }
            .Select-menu-outer {
                width: 12rem;
                right: 0;
                top: 115%;
                border-color: $lightGreen;
                box-shadow: 0rem 0rem 0.25rem rgba(0,0,0,0.15) !important;
                border-radius: 0;
            }
            .Select-option {
                padding: 0.8rem;
                color: $strongBlue;
                font-weight: bold;
                font-size: 1.1rem;
                box-sizing: border-box;
                border: 0.1rem solid transparent;

                &:hover {
                    color: $mintGreen;
                    border: 0.1rem solid $lightGreen;
                    background-color: inherit;
                }
            }
        }
    }
    .LibrarySearch {
        width: calc(45% - 8.5rem);
        height: 3.5rem;
        position: relative;
        input {
            width: calc(100% - 4rem);
            height: 100%;
            padding: 0.25rem 0.75rem;
            font-size: 1rem;
            color: $darkGrey;
            vertical-align: top;
        }
        .clear {
            position: absolute;
            font-size: 1.25rem;
            color: $blueGrey;
            line-height: 1.5rem;
            margin-left: -2rem;
            padding: 0.5rem;
            transition: opacity 0.2s ease;
        }
        .submit {
            width: 3.5rem;
            margin-left: 0.5rem;
            height: 100%;
            text-transform: uppercase;
            color: $mintGreen;
            border: 0.1rem solid $mintGreen;
            vertical-align: top;
        }
    }
    .LibraryTabList {
        width: 64%;
        padding-bottom: 0;
        li {
            height: 2.5rem;
            font-weight: bold;
            display: inline-block;
            padding: 0.75rem 1.5rem;
            text-align: center;
            color: $blueGrey;
            transition: background-color 0.5s ease;
            &:hover {
                color: $midGrey;
            }
            &.selected {
                color: $mintGreen;
                background-color: $lightGreen;
            }
        }
        @media (max-width: 1200px) {
            width: 50%;
            li {
                padding-left: 0.5rem;
                padding-right: 0.5rem;
            }
        }
    }
    .LibraryDisplayMenu {
        width: 36%;
        position: relative;
        vertical-align: top;
        padding-bottom: 0;
        @media (max-width: 1200px) {
            width: 50%;
        }
        .sortOrderLabel {
            color: $blueGrey;
            line-height: 2.5rem;
            width: 3.5rem;
            display: inline-block;
        }
        .SelectMenu {
            width: 8rem;
            margin-right: calc(100% - 17.5rem);
            height: 2.5rem;
            display: inline-block;
            vertical-align: top;
            .Select-control {
                border: 0;
            }
            .Select-placeholder {
                color: $strongBlue;
                text-align: right;
                padding-right: 1.75rem;
                padding-left: 0;
                line-height: 2.5rem;
            }
            .Select-arrow {
                border-color: $strongBlue transparent transparent;
            }
            .Select-menu-outer {
                width: 10rem;
                right: 0;
                top: 115%;
                border-color: $blueGrey;
                box-shadow: 0rem 0rem 0.25rem rgba(0,0,0,0.15) !important;
                border-radius: 0;
            }
            .Select-option {
                padding: 0.8rem;
                color: $blueGrey;
                font-weight: bold;
                font-size: 1rem;
                box-sizing: border-box;
                border: 0.1rem solid transparent;

                &:hover {
                    color: $strongBlue;
                    border: 0.1rem solid $strongBlue;
                    background-color: inherit;
                }
            }
        }
        .displayControls {
            display: inline-block;
            width: 6rem;
            height: 2.5rem;
            position: relative;
            vertical-align: top;
            .control {
                display: inline-block;
                height: 1.5rem;
                width: 1.5rem;
                margin: 0.5rem;
                font-size: 0rem;
                vertical-align: top;
            }
            .displayGrid {
                margin-right: 1rem;
                background-image: url('img/icon-128-display-control-grid.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
            .displayList {
                margin-left: 1rem;
                background-image: url('img/icon-128-display-control-list.png');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}
