@import 'modules/colors';

.MapConfigMenu {
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  .contents {
    height: calc(100vh - 8rem);
    overflow: scroll;
  }

  .saveContainer {
    display: flex;
    height: 4rem;
    width: 100%;
    bottom: -4rem;
    background-color: white;
    justify-content: space-around;
    align-items: 'center';
    border-top: 1px solid $lightBlueGrey;

    .saveButton {
      background-color: $midGrey;
      color: white;
      font-size: 1rem;
      width: 100%;
      margin: 0.5rem;
      border-radius: 0.2rem;
      text-align: center;
    }
  }

  .drawer {
    padding: 1rem;
  }

}
