@import 'modules/colors';

.Notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 3rem;
  z-index: 3;
  overflow: hidden;
  color: $white;
  &.error {
    background-color: $errorRed;
  }
  &.warn {
    background-color: $warnYellow;
  }
  &.info {
    background-color: $mintGreen;
  }
  .message {
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin-right: 2rem;
    line-height: 3rem;
  }
  .close {
    position: absolute;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 3rem;
    transform: rotate(45deg);
    right: 1rem;
    top: 0;
    display: block;
    /* Increase clickable area without altering position */
    padding: 5rem;
    margin: -5rem;
    border-radius: 99rem;
  }
}
