@import 'modules/colors';

.PivotTable {
  position: relative;

  table {
    width: 100%;
  }
  td, th {
    border: 0.1rem solid $midGrey;
    padding: 0.25rem;
  }
  th {
    background-color: $lightBlueGrey;
  }
}
