html, body, #root, #root > div {
    height: 100%;
}

* {
    box-sizing: border-box;
}

html, body, #root {
    min-width: 1024px;
}

/* Very basic text styling */

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(30, 30, 30);
}

p, h1, h2, h3, h4, h5 {
    line-height: 1.4em;
}

/* Identify elements that can be clicked or tap to interact with */

.clickable, a {
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.6;
    }
    &:disabled {
        opacity: 1;
        cursor: not-allowed;
    }
}

.disabled {
    cursor: not-allowed;
}

/* Always show modals on top of the stack */

.ReactModalPortal {
    > * {
        z-index: 99;
    }
}

/* Charts */

.dashChart {
  svg.rd3-chart {
    box-sizing: initial;
  }
  &.hasAxisLabels {
    svg.rd3-chart {
      padding: 16px 16px 16px 48px;
    }
  }
  &.hasNameColumn {
    svg.rd3-chart {
      padding-bottom: 48px;
    }
  }
  &.hasAxisLabels.hasNameColumn {
    svg.rd3-chart {
      padding: 16px 16px 64px 48px !important;
    }
  }
  &.xsmall {
    text {
      font-size: 0.4rem;
    }
  }
  &.small {
    text {
      font-size: 0.6rem;
    }
  }
  &.medium {
    text {
      font-size: 0.8rem;
    }
  }
  &.large {
    text {
      font-size: 1rem;
    }
  }
  &.xlarge {
    text {
      font-size: 1.2rem;
    }
  }
}
.DashBarChart {
  &.hasNameColumn {
    .rd3-barchart-xaxis .tick text {
      transform: rotate(45deg) translate(0.5rem, -0.25rem);
      text-anchor: start;
    }
  }
}

h4.rd3-chart-title {
  margin-left: 3rem;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 24px;
}

/* tmp for dashboards */

.Dashboard {
  width: 100%;
  .DashboardEditor {
    margin-top: 4rem;
    display: flex;

    .DashboardVisualisationList {
      width: 20rem;
      overflow: auto;
    }
    .DashboardEditorCanvasContainer {
      flex: 1;
      overflow: auto;
    }
    .react-grid-layout {
      background-color: whitesmoke;
    }
  }
}
