html, body, #root, #root > div {
    height: 100%;
}

* {
    box-sizing: border-box;
}

html, body, #root {
    min-width: 1024px;
}

/* Very basic text styling */

body, button, input {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(30, 30, 30);
}

p, h1, h2, h3, h4, h5, button, input {
    line-height: 1.4em;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(30, 30, 30);
}

/* Identify elements that can be clicked or tap to interact with */

.clickable, a {
    cursor: pointer;
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.6;
    }
    &:disabled {
        opacity: 1;
        cursor: not-allowed;
    }
}

.disabled {
    cursor: not-allowed;
}

.noPointerEvents {
  pointer-events: none;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Always show modals on top of the stack */

.ReactModalPortal {
    > * {
        z-index: 99;
    }
}

/* Remove outline from input elements */
*:focus, button:focus, input:focus {
    outline: none;
}

/* tmp for dashboards */

.Dashboard {
  width: 100%;
}

/* Style the "empty value" label for visualisations as italic text */
.emptyValue {
  font-style: italic;
}
