@import 'modules/colors';

.ToggleInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .label {
    line-height: 1.6rem;
  }

  .toggle {
    display: flex;
    position: relative;
    flex-direction: row;
    height: 1.6rem;
    width: 3rem;
    background-color: $midGrey;
    border-radius: 0.4rem;
    transition: background-color 0.25s ease-out;

    &.active {
      background-color: $blueGrey;
    }
  }

  .indicator {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 99rem;
    background-color: white;
    display: block;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    transition: left 0.1s ease-out;
  }
  .toggle.active .indicator {
    left: 1.6rem;
  }
}
