@import 'modules/colors';

.Users {
  padding: 10px;
  h1 {
    color: $strongBlue;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2.5rem;
  }
  table {
    width: 800px;
    & tr {
      border-bottom: 1px solid $lightGrey;
      & th, td {
        padding: 20px 0 10px 0;
      }
      & th {
        color: $black;
        text-align: left;
        font-size: 1.1rem;
        font-weight: bold;
      }
      & td {
        font-weight: bold;
      }
    }
  }
}
