@import 'modules/colors';

.Users {
    padding: 10px;
    h1 {
        color: $strongBlue;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 2.5rem;
    }
    table {
        width: 800px;
        & tr {
            border-bottom: 0.1rem solid $lightGrey;
            & th, td {
                padding: 20px 0 10px 0;
            }
            & th {
                color: $black;
                text-align: left;
                font-size: 1.1rem;
                font-weight: bold;
            }
            & td {
                font-weight: bold;
            }
        }
    }
    .UserInviteButton {
        width: 7rem;
        margin-right: 1.5rem;
        height: 4.5rem;
        position: relative;
        .SelectMenu {
            height: 100%;
            .Select-control {
                background-color: $mintGreen;
                border: 0;
                border-radius: 0.4rem;
                &:hover {
                    opacity: 0.8;
                }
            }
            .Select-placeholder {
                color: $white;
                text-transform: uppercase;
                font-size: 2.2rem;
                padding-top: 0.1rem;
            }
            .Select-arrow {
                border-color: $white transparent transparent;
                border-width: 10px 10px 5px;
            }
            .Select.is-open {
                .Select-control {
                    background-color: $lightGreen;
                }
                .Select-placeholder {
                    color: $mintGreen;
                }
                .Select-arrow {
                    border-color: $mintGreen transparent transparent;
                }
            }
            .Select-arrow-zone {
                padding-top: 10px;
                padding-right: 10px;
            }
            .Select-menu-outer {
                width: 12rem;
                right: 0;
                top: 115%;
                border-color: $lightGreen;
                box-shadow: 0rem 0rem 0.25rem rgba(0,0,0,0.15) !important;
                border-radius: 0;
            }
            .Select-option {
                padding: 0.8rem;
                color: $strongBlue;
                font-weight: bold;
                font-size: 1.1rem;
                box-sizing: border-box;
                border: 0.1rem solid transparent;
                &:hover {
                    color: $mintGreen;
                    border: 0.1rem solid $lightGreen;
                    background-color: inherit;
                }
            }
        }
    }
}
