.VisualisationConfig {
  h3 {
    font-size: 1.2rem;
  }
  label, select, input {
    display: block;
    margin: 0.5rem 0;
    width: 100%;
  }
  label {
    color: rgba(0,0,0,0.6);
    font-size: 0.8rem;
  }
  .inputGroup {
    padding-bottom: 0.5rem;
    &:first-child {
      padding-top: 0.5rem;
    }
  }
  .saveChanges {
    position: absolute;
    bottom: 1rem;
    display: block;
    padding: 0.5rem;
    width: calc(100% - 2rem);
    margin: auto;
  }
}